<div class="smart_icons">
    <div>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/f.png?v=1657476109">
      <div>Anti-Theft</div>                        
    </div>

    <div>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/a.png?v=1657476121">
      <div>Voice</div>
      <div>Control</div>  
    </div>

    <div>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/w.png?v=1657476162">
      <div>Fingerprint</div> 
      <div>Unlock</div> 
    </div>

    <div>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/c.png?v=1657476175">
      <div>OTA</div>  
      <div>Update</div>  
    </div>

    <div>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/q.png?v=1657476201">
      <div>Built-in</div>
      <div>Navigation</div> 
    </div>

</div>

<style>
   .smart_icons{
    display:flex;
    justify-content:space-between;
    text-align:center;
    font-size:24px;
    line-height:29px;
    color:#161C1FA6;
  }
  .smart_icons img{
    width:60px;
    height:60px
  }
</style>