<div class="swiper homeSwiper">
  <div class="swiper-wrapper">
    <!--     <div class="swiper-slide oneslide">
      <div class="slideContent">
        <div class="topSlide">
          <img id="deLogo" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220713-072251.png?v=1657668208">
          <div class="slideTitle">
            EUROBIKE
            <br>
            <span style="font-size:80px;">July 13-17, 2022</span>
          </div>
        </div>
        <div class="bottomSlide">
          <div class="slideDes">
        	<div class="spent">
              Messe Frankfurt
              <br>
              Hall: 8 Booth NO. : E11 
              <br>
              Test Ride Area: H06a
            </div>

            <img class="pcDeLogo" src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220713-072251.png?v=1657668208">
          </div>     
        </div>
      </div>
    </div> -->
<!--
    <div class="swiper-slide cheersSlide">
      <div class="content">
        <div class="cheers-title">
          CHEERS WITH
          <br />
          THE SMARTEST
          <br />
          E-BIKE
        </div>
        <div class="cheers-deteil">
          August 26-28<br />
          At Münchnerstr. 23<br />
          Haar bei Muenchen
        </div>
        <div class="cheers-btn">
          <a
            class="moreBtn bannerBtn buyBtn"
            href="/pages/cheers-with-the-smartest-ebike"
            >Learn More
          </a>
        </div>
      </div>
      <div class="imgContent"></div>
    </div>
-->
    <div class="swiper-slide twoslide">
      <div class="slideContent">
        <div class="topSlide">
          <div class="slideTitle">
            Urtopia
            <br />
            Carbon E-Bike
          </div>
        </div>
        <div class="bottomSlide">
          <div class="slideDes">
            <div>Your smartest companion on road</div>
            <!--               <div class="spent">€100 OFF</div> -->
          </div>
          <a
            class="moreBtn bannerBtn buyBtn"
            href="/products/urtopia-carbon-e-bike"
            >Buy Now</a
          >
        </div>
      </div>
    </div>

    <!--     <div class="swiper-slide threeslide">
      <div class="slideContent">
        <div class="topSlide">
        	<div class="slideTitle">
              TWILIGHT
            </div>
          	<div class="des" style="color:#fff;font-size:24px;margin-top:24px;">Born to Embrace All Terrains</div>
        </div>
        <div  class="bottomSlide">
        	<a class="moreBtn bannerBtn" style="background:none;color:#fff;margin-top:88px;border:1px solid #fff" href="/pages/twilight">Learn More</a>
        </div>        
      </div>
    </div> -->

    <!--     <div class="swiper-slide fourslide">
      <div class="slideContent">
        <div class="topSlide">
        	<div class="slideTitle">
          		CHORD
        	</div>
        	<div class="des" style="color:#000;font-size:24px;margin-top:24px;">Elegance, Like Music</div>
        </div>
        <div  class="bottomSlide">
        	<a class="moreBtn bannerBtn" style="background:none;color:#000;margin-top:88px;border:1px solid #000" href="/pages/chord">Learn More</a>
        </div>
        
      </div>
    </div> -->
  </div>
<!--
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>

  <div class="swiper-button-next"></div>
  -->
</div>

<style>
  .home-banner {
    color: #fff;
  }
  .homeSwiper {
    --swiper-theme-color: #4d4d4d; /* 设置Swiper风格 */
    height: calc(100vh - 107px);
    min-height: 761px;/*682px;*/
  }

  .swiper-slide {
    background-size: cover;
    background-position: bottom center;
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-170029.jpg?v=1657616608");
  }

  .swiper-slide.oneslide {
    background-position: top center;
    background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20220712-170007.jpg?v=1657693071");
  }
  .swiper-slide.threeslide {
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-170020.jpg?v=1657616909");
  }
  .swiper-slide.fourslide {
    background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-170034.jpg?v=1657616930");
  }
  .swiper-slide.cheersSlide {
    background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2022-cheers-bg.jpg?v=1661242128");
    background-size: cover;
    background-position: center;
  }
  .swiper-slide.cheersSlide .content {
    width: 65%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide.cheersSlide .content .cheers-title {
    width:70%;
    
    line-height: 66px;
    font-size: 50px;
    font-family: proxima-nova, sans-serif;
    font-weight: bold;
    color: #161c1f;
  }
  .swiper-slide.cheersSlide .content .cheers-deteil {
    line-height: 42px;
    margin-top: 16px;
    width:70%;
    height:25%;
    font-size: 30px;
    font-family: "Gotham Book" ;
    font-weight: normal;
    color: #161c1f;
  }
  .swiper-slide.cheersSlide .content .cheers-btn{
    width:70%;
  }
  .swiper-slide.cheersSlide .content .cheers-btn > a {
    width: 299px;
    height: 58px;
    background: #ffffff;
    border-radius: 30px 30px 30px 30px;
    font-size: 24px;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    color: #161c1f;
  }
  .swiper-slide.cheersSlide .imgContent {
    background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2022-cheers-bg.png?v=1661217599");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 8%;
    width: 50%;
    height: 100%;
  }
  .home-banner .swiper-slide.threeslide {
    justify-content: flex-end;
  }
  .home-banner .swiper-slide.threeslide .slideContent {
    padding-right: 8%;
  }

  .home-banner .swiper-slide .slideContent {
    padding-left: 8%;
  }
  .home-banner .swiper-slide {
    display: flex;
    align-items: center;
  }
  .home-banner .swiper-slide .slideTitle {
    font-size: 80px;
    line-height: 1.125em;
    font-weight: 700;
  }
  .home-banner .swiper-slide .slideDes {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 1.125em;
    font-family: Gotham Book;
  }
  .home-banner .swiper-slide .slideDes .spent {
    font-size: 36px;
    line-height: 60px;
    font-weight: 700;
    font-family: proxima-nova, sans-serif;
  }
  .home-banner .swiper-slide.oneslide .slideDes .spent {
    font-weight: 500;
  }
  .home-banner .swiper-slide.threeslide .moreBtn:hover,
  .home-banner .swiper-slide.fourslide .moreBtn:hover {
    border: 1px solid #fff !important;
    background-color: #fff !important;
    color: #000 !important;
  }
  .home-banner .swiper-slide.fourslide {
    color: #000;
  }
  .home-banner .swiper-slide.fourslide .slideDes {
    color: #000;
  }
  .home-banner .swiper-slide .des {
    width: auto;
  }
  .swiper-slide.oneslide .topSlide #deLogo {
    display: none;
  }
  .swiper-slide.oneslide img.pcDeLogo {
    width: 50px;
    height: 50px;
  }
  .bottomSlide table.countdown {
    width: 299px;
  }

  .bottomSlide table.countdown .countdownText {
    font-size: 24px;
    margin-top: 15px;
  }
  .bottomSlide table.countdown .countdownImg {
    height: 70px;
    background: url(http://i.countdownmail.com/1wufpu.gif) top center/cover
      no-repeat;
  }
  .bottomSlide table.countdown .countdownText.mobileCountdownText {
    display: none;
  }
  .bottomSlide table.countdown .countdownText.pcCountdownText {
    display: block;
  }
  @media screen and (max-width: 768px) {
    .home-banner .swiper-slide .slideContent {
      width: 100%;
      height: 100%;
      padding: 0 8%;
      text-align: center;
      margin-top: 62px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .swiper-slide.oneslide {
      background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-231319.jpg?v=1657639002");
    }
    .swiper-slide.twoslide {
      background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-231307.jpg?v=1657638983");
    }
    .swiper-slide.threeslide {
      background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-231342.jpg?v=1657639024");
    }
    .swiper-slide.fourslide {
      background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20220712-231301.jpg?v=1657638960");
    }

  .swiper-slide.cheersSlide {
    background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2022-cheers-bg-mb.png?v=1661239805");
    background-size: cover;
    background-position: center;
  }
  .swiper-slide.cheersSlide .content {
    width: 100%;
  }
  .swiper-slide.cheersSlide .content .cheers-title {
text-align: left;
font: normal normal bold 36px/44px proxima-nova, sans-serif;
    width: 90%;
    margin: 370px 0 0 0;
  }
  .swiper-slide.cheersSlide .content .cheers-deteil {
    width: 90%;
    height:initial;
    margin:20px;
text-align: left;
font: normal normal normal 20px/28px "Gotham Book";
  }
  .swiper-slide.cheersSlide .content .cheers-btn{
    width:initial;
    width:90%;
  }
  .swiper-slide.cheersSlide .content .cheers-btn > a {
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 30px;
height: 37px;width: 100%;
  }
  .swiper-slide.cheersSlide .imgContent {
    right: 0;
    top: 0;
    width: 100%;
    height: 62%;
    background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/2022-cheers-bike-mb.png?v=1661240158");
  }
    .home-banner .swiper-slide .slideTitle {
      font-size: 42px;
      line-height: 1.125em;
      font-weight: 700;
    }
    .home-banner .swiper-slide .des {
      margin-top: 6px !important;
    }
    .home-banner .swiper-slide .moreBtn {
      font-size: 15px;
      font-weight: 500;
      width: 190px;
      height: 38px;
      line-height: 38px;
    }

    .home-banner .swiper-slide.fourslide .moreBtn {
      margin-top: 0% !important;
      color: #fff !important;
      border-color: #fff !important;
      background-color: none !important;
    }

    .home-banner .swiper-slide.threeslide .moreBtn {
      margin-top: 0% !important;
    }

    .home-banner .swiper-slide .topSlide,
    .home-banner .swiper-slide .bottomSlide {
      flex: 1;
      overflow: hidden;
    }

    .home-banner .swiper-slide .bottomSlide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .home-banner .swiper-slide .des {
      margin-top: 10px !important;
      font-size: 20px !important;
      line-height: 28px;
    }
    .home-banner .swiper-slide .slideDes {
      margin-top: 85px;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 37px;
    }
    .home-banner .swiper-slide .slideDes .spent {
      font-size: 30px;
    }
    .home-banner .swiper-slide.oneslide .slideDes .spent {
      font-size: 24px;
      line-height: 35px;
    }
    .swiper-slide.oneslide img.pcDeLogo {
      display: none;
    }
    .swiper-slide.oneslide .topSlide > div > span {
      font-size: 36px !important;
      line-height: 44px;
    }
    .swiper-slide.oneslide .topSlide #deLogo {
      display: block;
      width: 97px;
      height: 97px;
      margin: 20px auto;
    }
    .bottomSlide table.countdown {
      width: 190px;
    }

    .bottomSlide table.countdown .countdownText.pcCountdownText {
      display: none;
    }
    .bottomSlide table.countdown .countdownText.mobileCountdownText {
      display: block;
      white-space: nowrap;
      font-weight: 800;
    }
    .bottomSlide table.countdown .countdownImg {
      height: 38px;
      width: 190px;
      margin: 0 auto;
    }
  }
</style>
<script>
  /*
  var mySwiper = new Swiper(".home-banner .swiper", {
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  document.querySelector(".swiper-slide.cheersSlide .content .cheers-btn>a").addEventListener("click",()=>{
    document.querySelector("#cheers-homepage-LearnMore-track-btn").click()
  })*/
</script>

{% schema %}
{
    "name":"banner",
    "class":"home-banner",
    "settings":[
    ],
    "presets":[
        {
            "name":"Banner"
        }
    ]
}
{% endschema %}