<div class="hp-section section1-common" id="section1-common">
  <!--
    <div class="title1">Urtopia Carbon E-Bike</div>
    <div class="title2">Just Magnificent</div>
    <div class="content">
      <a
        href="/products/urtopia-carbon-e-bike"
        style="color: #000; background: #fff"
      >
        Shop Deals
      </a>
      <a href="/pages/test-ride" style="color: #fff"> Book a Test Ride </a>
    </div>
  -->
  <div class="swiper" id="homeSwiper">
    <div class="swiper-wrapper">
      <!--
        <div class="swiper-slide homeCover">
          <div class="homeContainer">
            <div class="homeTopBox">
              <img
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/logo-fahrrad-essen.png?v=1675906989"
                alt="urtopia"
                style="width:85px;height:85px;"
              >
              <div class="homeTitle">Fahrrad Essen</div>
              <div class="homeDes">
                Urtopia is unleashing its unstoppable electric bike power at BICYCLE Essen, one of the biggest cycling
                shows in Germany. let’s ride into the smartest electrifying journey.
              </div>
            </div>
            <div class="homeBottomBox">
              <p>
                Date: 23-26 Feb, 2023
                <br>
                Time: 10 a.m. to 6p.m.
                <br>
                Venue: Essen Messe, Germany
                <br>
                Hall: 5 Booth No.: 5F30
              </p>
              <div class="homeBtn">
                <span><a href="/pages/test-ride">Test-Ride Now</a></span>
                <span><a href="/pages/event">More Up Coming Events</a></span>
              </div>
            </div>
          </div>
        </div>
      -->
      <div class="swiper-slide homeCover">
        <div class="homeContainer">
          <div class="homeTopBox">
            <img
              src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/CW_Europe_Logo_pos_340x156-300x138.png?v=1675906999"
              alt="urtopia"
              style="width:170px;height:85px;"
            >
            <div class="homeTitle">Cyclingworld</div>
            <div class="homeDes">
              The ultimate event of smart biking! Visit Utopia and get ready for a totally revolutionary ebike
              experience with exciting surprises.
            </div>
          </div>
          <div class="homeBottomBox">
            <p>
              Date: 10-12 Mar, 2023
              <br>
              Time: 10 a.m. to 6p.m.
              <br>
              Venue: Areal Böhler, Hansaallee 321,
              <br>
              <span style="opacity:0;">Venue:</span>40549, Dusseldorf, German
              <br>
              Hall: N7 Thermal Hotels
            </p>
            <div class="homeBtn">
              <span><a href="/pages/test-ride">Test-Ride Now</a></span>
              <span><a href="/pages/event">More Up Coming Events</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div class="hp-section section2">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/11_2x_e6ee1bed-cddf-4d91-ad2e-2b662efea1e4.jpg?v=1669687867"
      >
        <div class="mask"></div>
        <div class="content">
          “It’s basically a Tesla with two wheels, capable of getting fresh features at any time thanks to over-the-air
          system updates.”
        </div>
      </div>
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221212-140132.jpg?v=1670824909"
      >
        <div class="mask"></div>
        <div class="content">
          “It weighs about half what other e-bikes do while also fully incorporating an iPhone-esque elegant high-tech
          design system.”
        </div>
      </div>
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221226-181434.jpg?v=1672049720"
      >
        <div class="mask"></div>
        <div class="content">“The smoothness really adds to the sense that the bike is making you feel stronger.”</div>
      </div>
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221212-135220.jpg?v=1670824814"
      >
        <div class="mask"></div>
        <div class="content">“This e-bike does phone tech better than some phone.”</div>
      </div>
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221226-181428.jpg?v=1672049720"
      >
        <div class="mask"></div>
        <div class="content">
          “Lightweight carbon fiber road e-bikes aren’t rare, but affordably-priced ones sure are!”
        </div>
      </div>
    </div>
    <svg
      class="swiper-button swiper-prev"
      xmlns="http://www.w3.org/2000/svg"
      width="86"
      height="86"
      viewBox="0 0 86 86"
    >
      <g
        id="Group_18607"
        data-name="Group 18607"
        transform="translate(-45 -1679)"
      >
        <circle
          id="Ellipse_5"
          data-name="Ellipse 5"
          cx="43"
          cy="43"
          r="43"
          transform="translate(45 1679)"
        />
        <line
          id="Line_213"
          data-name="Line 213"
          x2="25.832"
          transform="translate(75.656 1721.51)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
        <line
          id="Line_214"
          data-name="Line 214"
          y1="10.444"
          x2="11.096"
          transform="translate(74.512 1710.74)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
        <line
          id="Line_215"
          data-name="Line 215"
          x2="11.749"
          y2="11.749"
          transform="translate(74.512 1721.51)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
      </g>
    </svg>
    <svg
      class="swiper-button swiper-next"
      xmlns="http://www.w3.org/2000/svg"
      width="86"
      height="86"
      viewBox="0 0 86 86"
    >
      <g
        id="Group_18608"
        data-name="Group 18608"
        transform="translate(131 1765) rotate(180)"
      >
        <circle
          id="Ellipse_5"
          data-name="Ellipse 5"
          cx="43"
          cy="43"
          r="43"
          transform="translate(45 1679)"
        />
        <line
          id="Line_213"
          data-name="Line 213"
          x2="25.832"
          transform="translate(75.656 1721.51)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
        <line
          id="Line_214"
          data-name="Line 214"
          y1="10.444"
          x2="11.096"
          transform="translate(74.512 1710.74)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
        <line
          id="Line_215"
          data-name="Line 215"
          x2="11.749"
          y2="11.749"
          transform="translate(74.512 1721.51)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
      </g>
    </svg>
  </div>

  <div class="swiper-mb-description">
    <div>
      “It’s basically a Tesla with two wheels, capable of getting fresh features at any time thanks to over-the-air
      system updates.”
    </div>
  </div>
  <div class="swiper-pagination-customize">
    <img
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18000_2x_87787f88-243b-49c3-bdf7-3ef57d6d8ea7.png?v=1668447032"
      class="swiper-pagination-customize-bullet"
      tabindex="0"
      role="button"
      aria-label="Go to slide 1"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221115-144809.png?v=1668494905"
      class="swiper-pagination-customize-bullet"
      tabindex="1"
      role="button"
      aria-label="Go to slide 2"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section2-brand1.png"
      class="swiper-pagination-customize-bullet active"
      tabindex="2"
      role="button"
      aria-label="Go to slide 3"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section2-brand5.png"
      class="swiper-pagination-customize-bullet"
      tabindex="3"
      role="button"
      aria-label="Go to slide 4"
    >
    <img
      src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221212-141840.png?v=1670825952"
      class="swiper-pagination-customize-bullet"
      tabindex="4"
      role="button"
      aria-label="Go to slide 5"
    >
  </div>
</div>
<div class="hp-section section2-pc">
  <div class="swiperHumanBox">
    <div class="swiper swiperHuman" dir="rtl">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221226-181428.jpg?v=1672049720"
          >
        </div>
        <div class="swiper-slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221212-135220.jpg?v=1670824814"
          >
        </div>
        <div class="swiper-slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221226-181434.jpg?v=1672049720"
          >
        </div>
        <div class="swiper-slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221212-140132.jpg?v=1670824909"
          >
        </div>
        <div class="swiper-slide">
          <img
            src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/11_2x_e6ee1bed-cddf-4d91-ad2e-2b662efea1e4.jpg?v=1669687867"
          >
        </div>
      </div>
    </div>
  </div>
  <div class="swiperRightBox">
    <div class="swiperWrappedBox">
      <div class="swiperRightTextBox">
        <div class="swiper swiperText" dir="rtl">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="rightTextword" style="direction: ltr">
                “Lightweight carbon fiber road e-bikes aren’t rare, but affordably-priced ones sure are!”
              </div>
            </div>
            <div class="swiper-slide">
              <div class="rightTextword" style="direction: ltr">
                “This e-bike does phone tech better than some phone.”
              </div>
            </div>
            <div class="swiper-slide">
              <div class="rightTextword" style="direction: ltr">
                “The smoothness really adds to the sense that the bike is making you feel stronger.”
              </div>
            </div>
            <div class="swiper-slide" style="direction: ltr">
              <div class="rightTextword">
                “It weighs about half what other e-bikes do while also fully incorporating an iPhone-esque elegant
                high-tech design system.”
              </div>
            </div>
            <div class="swiper-slide" style="direction: ltr">
              <div class="rightTextword">
                “It’s basically a Tesla with two wheels, capable of getting fresh features at any time thanks to
                over-the-air system updates.”
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiperRightImgBox">
        <div class="swiper swiperText2" dir="rtl">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221212-141840.png?v=1670825952"
                alt=""
              >
            </div>
            <div class="swiper-slide">
              <img
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Image_8_2x_9fe15a50-8a88-4576-8546-5c198ecd9800.png?v=1668447039"
                alt=""
              >
            </div>
            <div class="swiper-slide">
              <img
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_61_2x_f979c4a1-aca7-4eca-8e1c-edff06b7795b.png?v=1668447038"
                alt=""
              >
            </div>
            <div class="swiper-slide">
              <img
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221115-144809.png?v=1668494905"
                alt=""
              >
            </div>
            <div class="swiper-slide">
              <img
                src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18000_2x_87787f88-243b-49c3-bdf7-3ef57d6d8ea7.png?v=1668447032"
                alt=""
              >
            </div>
          </div>
        </div>
      </div>
      <div class="swiperHumanBtn">
        <svg
          class="swiperHumanBtnPrev"
          xmlns="http://www.w3.org/2000/svg"
          width="86"
          height="86"
          viewBox="0 0 86 86"
          style="visibility: visible"
          onclick="section2Prev()"
        >
          <g
            id="Group_18607"
            data-name="Group 18607"
            transform="translate(-45 -1679)"
          >
            <circle
              id="Ellipse_5"
              data-name="Ellipse 5"
              cx="43"
              cy="43"
              r="43"
              transform="translate(45 1679)"
            ></circle>
            <line
              id="Line_213"
              data-name="Line 213"
              x2="25.832"
              transform="translate(75.656 1721.51)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-width="3"
            ></line>
            <line
              id="Line_214"
              data-name="Line 214"
              y1="10.444"
              x2="11.096"
              transform="translate(74.512 1710.74)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-width="3"
            ></line>
            <line
              id="Line_215"
              data-name="Line 215"
              x2="11.749"
              y2="11.749"
              transform="translate(74.512 1721.51)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-width="3"
            ></line>
          </g>
        </svg>
        <svg
          class="swiperHumanBtnNext"
          xmlns="http://www.w3.org/2000/svg"
          width="86"
          height="86"
          viewBox="0 0 86 86"
          style="visibility: visible"
          onclick="section2Next()"
        >
          <g
            id="Group_18608"
            data-name="Group 18608"
            transform="translate(131 1765) rotate(180)"
          >
            <circle
              id="Ellipse_5"
              data-name="Ellipse 5"
              cx="43"
              cy="43"
              r="43"
              transform="translate(45 1679)"
            ></circle>
            <line
              id="Line_213"
              data-name="Line 213"
              x2="25.832"
              transform="translate(75.656 1721.51)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-width="3"
            ></line>
            <line
              id="Line_214"
              data-name="Line 214"
              y1="10.444"
              x2="11.096"
              transform="translate(74.512 1710.74)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-width="3"
            ></line>
            <line
              id="Line_215"
              data-name="Line 215"
              x2="11.749"
              y2="11.749"
              transform="translate(74.512 1721.51)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-width="3"
            ></line>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="hp-section section3">
  <div class="title1">
    <img
      src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221116-134229.png?v=1668577361"
      alt="smart-urtopia"
    >
    <span>&</span>
    <span>FEATHERLIGHT</span>
  </div>
  <div class="content wrapper">
    <div class="left-container">
      <img
        class="bike"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221228-181703.jpg?v=1672222659"
        loading="lazy"
      >
    </div>
    <div class="right-container">
      <div class="container-content">
        <div class="title2">
          <span>Carbon One</span>
        </div>
        <div class="description">
          “Utopia is all beautiful and functional. The level of perfection of parts is high, and its stability is good.”
        </div>
        <div>
          <a href="/pages/e-bike" class="LearnMore-btn" href="">Learn More</a>
        </div>
      </div>
      <img
        class="wave1"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_17952_2x_8da11468-c6ef-4587-bf91-8793ad15cc43.png?v=1668579032"
      >
      <img
        class="wave2"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-sections-wave2.png?v=1666164013"
      >
      <img
        class="wave3"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-sections-wave3.png?v=1666164013"
      >
    </div>
  </div>
  <div class="content-mb">
    <div>
      <a href="/pages/e-bike" class="LearnMore-btn" href="">Learn More</a>
    </div>
  </div>
</div>
<div class="hp-section section4">
  <div
    class="bg lozad"
    data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section4-bg_a4de8d60-8fe6-4590-b3c7-93b171ffa32b.jpg?v=1669687867"
  >
    <div class="content">
      Designed for the passionate ones, <br>
      who always dare to stand out.
    </div>
  </div>
</div>
<div class="hp-section section5">
  <div class="title1">Smart, intuitive and encouraging</div>
  <div class="description">For every memorable sunshine and laughter</div>
  <div class="content">
    <div class="left-container">
      <img
        class="float-app1"
        loading="lazy"
        alt="urtopia-app"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Group_14916_1.png?v=1669432682"
      >
      <img
        class="float-app-bg1 lozad"
        loading="lazy"
        alt="urtopia-app"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section5-bg1-mb.jpg"
        data-srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section5-bg1.jpg 750w"
      >
    </div>
    <div class="right-container">
      <img
        class="float-app2"
        loading="lazy"
        alt="urtopia-app"
        src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section5-app2.png"
      >
      <img
        class="float-app-bg2 lozad"
        alt="urtopia-app"
        data-srcset="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section5-bg2-mb.jpg 0w,https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section5-bg2.jpg 750w"
        data-src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section5-bg2.jpg"
      >
    </div>
  </div>
</div>
<div
  class="hp-section section9 lozad"
  data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section9-bg.jpg"
>
  <div class="title1">Who believe in an ideal urban life, that is cheerful, vibrant, healthy and sustainable.</div>
</div>
<div class="hp-section section6 wrapper">
  <div class="title1">We Live Beyond</div>
  <div class="description">Friends around the world are all inviting</div>
  <div class="content">
    <div class="left-container">
      <div
        class="img-card lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section6-card1.jpg"
      >
        <div class="intro-box">
          <div style="flex: 1"></div>
          <div class="introduction">
            <div class="name">Tracy MacGrady</div>
            <div class="detail">NBA Hall of Fame</div>
            <div class="description">
              <br>
              "Urtopia makes me fall in love with riding, and i'm sure you will too."
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div
        class="img-card extra-margin-bottom extra-margin-right lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221115-185716.png?v=1668509858"
      >
        <div class="intro-box">
          <div style="flex: 1"></div>
          <div class="introduction">
            <div class="name">Franz Loeschke</div>
            <div class="detail">5x German champion triathlete</div>
            <div class="description">
              <br>
              "Far from the steretype of traditional e-bikes, Urtopia has beautiful bodywork, just as cool as my
              triathlon bike."
            </div>
          </div>
        </div>
      </div>
      <div
        class="img-card extra-margin-right lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section6-card3.jpg"
      >
        <div class="intro-box">
          <div style="flex: 1"></div>
          <div class="introduction">
            <div class="name">Alessandro Barbero</div>
            <div class="detail">BMX rider,3x Italian champion</div>
            <div class="description">
              <br>
              "Urtopia Smartbar is fascinating! I'am amazed by how enjoyable it is."
            </div>
          </div>
        </div>
      </div>
      <div
        class="img-card extra-margin-bottom lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section6-card5.jpg"
      >
        <div class="intro-box">
          <div style="flex: 1"></div>
          <div class="introduction">
            <div class="name">Rex Peters</div>
            <div class="detail">From Facebook Group</div>
            <div class="description">
              <br>
              “I got 4 other brands and I still learning the Urtopia but so far my favorite e-bike. Look how far
              technology has come so fast. Happy and safe riding.”
            </div>
          </div>
        </div>
      </div>
      <div
        class="img-card lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221115-185711.png?v=1668509861"
      >
        <div class="intro-box">
          <div style="flex: 1"></div>
          <div class="introduction">
            <div class="name">Karina Schwirtlich</div>
            <div class="detail">From Facebook Group</div>
            <div class="description">
              <br>
              “it is much easier to use :) Going uphill is so much easier, I could even read a book while doing this.”
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mb -->

  <div class="swiper">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section6-card1.jpg"
      >
        <div class="introduction">
          <div class="name">Tracy MacGrady</div>
          <div class="detail">NBA Hall of Fame</div>
        </div>
      </div>
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221115-185716.png?v=1668509858"
      >
        <div class="introduction">
          <div class="name">Franz Loeschke</div>
          <div class="detail">5x German champion triathlete</div>
        </div>
      </div>
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section6-card3.jpg"
      >
        <div class="introduction">
          <div class="name">Alessandro Barbero</div>
          <div class="detail">BMX rider,3x Italian champion</div>
        </div>
      </div>
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section6-card5.jpg"
      >
        <div class="introduction">
          <div class="name">Rex Peters</div>
          <div class="detail">From Facebook Group</div>
        </div>
      </div>
      <div
        class="swiper-slide slide lozad"
        data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221115-185711.png?v=1668509861"
      >
        <div class="introduction">
          <div class="name">Karina Schwirtlich</div>
          <div class="detail">From Facebook Group</div>
        </div>
      </div>
    </div>
    <svg
      class="swiper-button swiper-prev"
      xmlns="http://www.w3.org/2000/svg"
      width="86"
      height="86"
      viewBox="0 0 86 86"
    >
      <g
        id="Group_18607"
        data-name="Group 18607"
        transform="translate(-45 -1679)"
      >
        <circle
          id="Ellipse_5"
          data-name="Ellipse 5"
          cx="43"
          cy="43"
          r="43"
          transform="translate(45 1679)"
        />
        <line
          id="Line_213"
          data-name="Line 213"
          x2="25.832"
          transform="translate(75.656 1721.51)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
        <line
          id="Line_214"
          data-name="Line 214"
          y1="10.444"
          x2="11.096"
          transform="translate(74.512 1710.74)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
        <line
          id="Line_215"
          data-name="Line 215"
          x2="11.749"
          y2="11.749"
          transform="translate(74.512 1721.51)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
      </g>
    </svg>
    <svg
      class="swiper-button swiper-next"
      xmlns="http://www.w3.org/2000/svg"
      width="86"
      height="86"
      viewBox="0 0 86 86"
    >
      <g
        id="Group_18608"
        data-name="Group 18608"
        transform="translate(131 1765) rotate(180)"
      >
        <circle
          id="Ellipse_5"
          data-name="Ellipse 5"
          cx="43"
          cy="43"
          r="43"
          transform="translate(45 1679)"
        />
        <line
          id="Line_213"
          data-name="Line 213"
          x2="25.832"
          transform="translate(75.656 1721.51)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
        <line
          id="Line_214"
          data-name="Line 214"
          y1="10.444"
          x2="11.096"
          transform="translate(74.512 1710.74)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
        <line
          id="Line_215"
          data-name="Line 215"
          x2="11.749"
          y2="11.749"
          transform="translate(74.512 1721.51)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="3"
        />
      </g>
    </svg>
  </div>

  <div class="swiper-mb-description">
    <div>“The smoothness really adds to the sense that the bike is making you feel stronger.”</div>
  </div>
</div>
<div
  class="hp-section section8 lozad"
  id="testRideSection"
  data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section8-bg.jpg"
>
  <div class="mask"></div>
  <div class="content">
    <div class="title1">
      Wait no longer,<br>
      Come and enjoy a fun ride!
    </div>
    <a href="/pages/test-ride" class="TestRide-btn">Test Ride</a>
  </div>
</div>

<div class="hp-section section7">
  <div class="container wrapper">
    <div
      class="content lozad"
      data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section7-bg1.jpg"
    >
      <div class="mask" onclick="location.href='/collections/accessories'">
        <div class="title1">Accessories</div>
        <div class="LearnMore-btn">Learn More</div>
      </div>
    </div>
    <div
      class="content lozad"
      data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section7-bg2.jpg"
    >
      <div class="mask" onclick="location.href='/pages/care'">
        <div class="title1">Urtopia CARE</div>
        <div class="LearnMore-btn">Learn More</div>
      </div>
    </div>
    <div
      class="content lozad"
      data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section7-bg3.jpg"
    >
      <div class="mask" onclick="location.href='/blogs/blog'">
        <div class="title1">Blog</div>
        <div class="LearnMore-btn">Learn More</div>
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide slide content lozad"
          data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section7-bg1.jpg"
        >
          <div
            class="mask"
            onclick="location.href='/collections/accessories'"
          >
            <div class="title1">Accessories</div>
            <div class="LearnMore-btn">Learn More</div>
          </div>
        </div>
        <div
          class="swiper-slide slide content lozad"
          data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section7-bg2.jpg"
        >
          <div class="mask" onclick="location.href='/pages/care'">
            <div class="title1">Urtopia CARE</div>
            <div class="LearnMore-btn">Learn More</div>
          </div>
        </div>
        <div
          class="swiper-slide slide content lozad"
          data-background-image="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section7-bg3.jpg"
        >
          <div class="mask" onclick="location.href='/blogs/blog'">
            <div class="title1">Blog</div>
            <div class="LearnMore-btn">Learn More</div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<style>
        .content a {
          transition: all 0.2s;
        }

        .fade-in-show {
          transition: transform 0.6s, opacity 0.6s;
          transform: translate(0, 0) !important;
          opacity: 1 !important;
        }

        .fade-in-hide {
          opacity: 0;
          transform: translateY(20%) !important;
        }

        .hp-section {
          width: 100%;
          overflow: hidden;
        }

        [data-background-image] {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .wrapper {
          margin: auto;
          max-width: 1280px;
          padding: 0 30px;
        }

        .section1-common{
          height: calc(100vh - 110px);
        }

        .section1 {
          background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section1-bg.jpg");
          height: calc(100vh);
          background-repeat: no-repeat;
          background-size: cover;
          background-size: cover;
          background-position: center;
        }

        .section1-common .homeContainer{
          width:100%;
          max-width:1280px;
          margin:0 auto;
          color:#fff;
        }

        .section1-common .homeContainer .homeTitle{
          font:normal normal 700 60px/99px urbane;
        }

        .section1-common .homeContainer .homeDes{
          width:500px;
          font:normal normal 200 17px/24px urbane;
        }
        .section1-common .homeBottomBox{
          margin-top:60px;
        }
        .section1-common .homeBottomBox p{
          font:normal normal 500 20px/28px urbane;
        }
        .section1-common .homeBtn{
          margin-top:24px;
        }
        .section1-common .homeBtn a{
          width: 100%;
          text-align: center;
          padding:10px 0px;
          border-radius:30px;
          font-size:16px;
          font-weight:600;
          display:inline-block;
        }
        .section1-common .homeBtn span{
          display:inline-block;
        }

        .section1-common .homeBtn span:nth-child(1){
          margin-right:10px;
          width:211px;
        }
         .section1-common .homeBtn span:nth-child(2){
          width:286px;
        }

        .section1-common .homeBtn span:nth-child(1) a{
          border:2px solid #F0F0F0;
          background:#F0F0F0;
          color:#000;
        }
        .section1-common .homeBtn span:nth-child(2) a{
          border:2px solid #F0F0F0;
          background:transparent;
          color:#F0F0F0;
        }

        .section1-common .homeBtn span:nth-child(1) a:hover{
          border:2px solid #fff;
          background:#fff;
        }

        .section1-common .homeBtn span:nth-child(2) a:hover{
          border:2px solid #fff;
          color:#fff;
        }

        .homeActive{
          background:#FD4B17 !important;
          color:#fff !important;
        }

        .section1-common .homeCover{
          display: flex;
          justify-content: center;
          align-items: center;
          background: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_18909_16acb857-2667-492e-9b98-74ff9ad5c69d.jpg?v=1675936233")
            center center/cover no-repeat;
        }

        .section1-common .homeCover:nth-child(1){
          background-image:url('https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20074.jpg?v=1675906984');
        }

        #homeSwiper{
          height:100%;
        }

        .swiper{
          --swiper-theme-color: #fff;/* 设置Swiper风格 */
          --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
          --swiper-navigation-size: 30px;/* 设置按钮大小 */
        }

        .section1#section1-active {
          background: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221128-141342.jpg?v=1669616128")
            center center/cover no-repeat;
        }

        .section1 .title1 {
          font: normal normal bold 90px/108px Urbane;
          background: #0000004d;
          -webkit-text-stroke: 4px #fbe364;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
          text-shadow: 0px 0px 40px #ffda12;
        }
        .section1 .content a {
          font: normal normal 500 16px/16px Urbane;
          border: 3px solid #fff;
          border-radius: 30px;
          width: 100%;
          height: 100%;
          display: inline-block;
          line-height: 32px;
          text-align: center;
        }
        .section1 .content .cover-wrapped-box:nth-child(1) .cover-btn:hover {
          background: #00def2 !important;
          border-color: #00def2 !important;
        }
        .section1 .content .cover-wrapped-box:nth-child(2) .cover-btn {
          color: #fff;
        }
        .section1 .content .cover-wrapped-box:nth-child(2) .cover-btn:hover {
          border-color: #d636f7 !important;
        }

  /*       a:hover {
          border-color: rgba(255, 255, 255, 0.5) !important;
        } */

        a.LearnMore-btn:hover,
        a.TestRide-btn:hover {
          color: rgba(0, 0, 0, 0.5) !important;
        }

        .section1 .content a:nth-child(2) {
          color: #fff;
        }

        .section1 .content a:nth-child(1) {
          color: #000;
        }

        .section2-pc {
          height: 645px;
          display: flex;
          justify-content: space-evenly;
          background: #000
            url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/newbg.png?v=1668568105")
            center center/cover no-repeat;
        }
        .section2-pc .swiperHumanBox,
        .section2-pc .swiperRightBox {
          overflow: hidden;
          flex: 0 0 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .section2-pc .swiperHumanBox .swiper-slide {
          position: relative;
          width: 488px;
          height: 448px;
          transition: all 0.3s linear;
          transform: scale(0.8);
          overflow: hidden;
        }
        .section2-pc .swiperHumanBox .swiper-slide::after {
          display: inline-block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.8);
        }
        .section2-pc .swiperHumanBox .swiper-slide-active::after {
          background: rgba(0, 0, 0, 0);
        }
        .section2-pc .swiperHumanBox .swiper-slide-active {
          transform: scale(1);
        }

        .section2-pc .swiperRightBox {
          flex-direction: column;
          align-items: flex-start;
        }

        .section2-pc .swiperHumanBox img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .section2-pc .swiperText2 img {
          width: 100%;
        }

        .section2-pc .swiperRightBox .swiperRightTextBox,
        .section2-pc .swiperRightBox .swiperRightImgBox {
          width: 100%;
        }

        .section2-pc .swiperRightBox .swiperWrappedBox {
          overflow: hidden;
          width: 488px;
          height: 448px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .section2-pc .rightTextword {
          padding: 2% 7%;
          font: normal normal 600 30px/40px urbane;
          color: #fff;
        }

        .section2-pc .swiperRightBox .swiperRightImgBox .swiperText2 {
          padding: 0 8%;
        }
        .section2-pc .swiperRightBox .swiperRightImgBox .swiper-wrapper {
          align-items: center;
        }
        .section2-pc .swiperRightBox .swiperRightImgBox .swiper-slide {
          opacity: 0.2;
        }
        .section2-pc .swiperRightBox .swiperRightImgBox .swiper-slide-active {
          opacity: 1;
        }
        .section2-pc .swiperHumanBtn {
          padding: 0 8%;
          display: flex;
          justify-content: space-between;
        }
        .section2-pc .swiperHumanBtn svg {
          cursor: pointer;
          width: 60px;
          height: 60px;
        }

        .section2-pc .swiperHumanBtn svg:hover g circle {
          fill: #fff;
        }
        .section2-pc .swiperHumanBtn svg:hover g line {
          stroke: #000;
        }

        .section2 {
          height: calc(100vh);
          background: #000
            url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/newbg.png?v=1668568105")
            center center/cover no-repeat;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding-top: 15vh;
        }

        .section2 .swiper {
          flex: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }

        .section2 .slide {
          position: relative;
          left: 50%;
          width: auto !important;
          height: 100%;
          aspect-ratio: 1.64/1;
          opacity: 0.5;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center top;
          transition: opacity 0.4s linear 0.2s;
        }

        .section2 .slide .mask {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
        }

        .section2 .slide .content {
          text-align: center;
          color: #fff;
          font: normal normal bold 36px/42px Urbane;
          visibility: hidden;
          opacity: 0;
          transform: translateY(20px);
        }

        .section2 .slide.swiper-slide-active .content.inner {
          text-shadow: 0px 0px 20px #000;
          width: 80%;
          margin-bottom: 40px;
          transition: all 0.4s linear 0.4s;
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }

        .section2 .swiper-mb-description {
          display: none;
        }

        .section2 .swiper-button {
          position: absolute;
          height: 52px;
          width: auto;
          aspect-ratio: 1;
          z-index: 2;
        }

        .section2 .swiper-button:hover g circle {
          fill: #fff;
        }

        .section2 .swiper-button:hover g line {
          stroke: #000;
        }

        .swiper-button.swiper-prev {
          left: 16%;
        }

        .swiper-button.swiper-next {
          right: 16%;
        }

        .section2 .swiper-pagination-customize {
          max-width: 60%;
          margin: auto;
          padding-top: 100px;
          padding-bottom: 100px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }

        .section2 .swiper-pagination-customize-bullet {
          cursor: pointer;
          transition: opacity 0.4s;
          max-width: 16%;
          opacity: 0.5;
        }

        .section2 .swiper-pagination-customize-bullet.active {
          opacity: 1;
        }

        .section2 .swiper-slide-active {
          opacity: 1;
        }

        .section3 {
          position: relative;
          padding: 100px 0 200px;
        }

        .section3 .content-mb {
          display: none;
        }

        .section3 .wave1 {
          width: 80%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateX(-100%);
        }
        .section3 .title1 img {
          width: auto;
          height: 80px;
        }
        .section3 .wave2 {
          position: absolute;
          top: 0;
          left: 0;
          width: 80%;
        }

        .section3 .wave3 {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 60%;
        }

        .section3 .title1 {
          text-align: center;
          margin: 0;
          font: normal normal normal 100px/108px Lemongrass-Script;
          padding: 100px 0;
          padding-bottom: 200px;
        }

        .section3 .title1 span {
          font: normal normal 200 100px/121px Urbane;
        }

        .section3 .content {
          display: flex;
          height: auto;
          aspect-ratio: 2 / 1;
        }

        .section3 .left-container {
          position: relative;
          flex: 1;
          background-color: #000;
        }

        .section3 .left-container img {
          opacity: 0.8;
          transform: translate(0%, 6%);
          z-index: 2;
          position: absolute;
          transition: all 0.8s;
        }

        .section3 .right-container {
          display: flex;
          position: relative;
          flex-direction: column;
          justify-content: center;
          background-color: #000;
          color: #fff;
          flex: 1;
        }

        .section3 .right-container .container-content {
          padding: 0px 5% 0 17%;
        }

        .section3 .right-container .title2 {
          display: flex;
          align-items: center;
          font: normal normal bold 48px/58px Urbane;
        }

        .section3 .right-container .description {
          width: 75%;
          font: italic normal 300 16px / 20px Urbane;
          margin: 5% 0 24%;
        }

        .section3 .right-container .LearnMore-btn {
          font: normal normal normal 16px / 16px Urbane;
          background: #fff;
          padding: 8px 36px;
          border-radius: 30px;
          color: #000;
        }

        .section4 {
          margin-bottom: 140px !important;
        }

        .section4 .bg {
          width: 100%;
          height: 650px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center bottom;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }

        .section4 .content {
          width: 80%;
          margin-bottom: 3%;
          text-align: center;
          color: #fff;
          font: normal normal 600 48px/58px Urbane;
        }

        .section5 {
          text-align: center;
        }

        .section5 .title1 {
          font: normal normal 600 48px / 58px Urbane;
          margin-bottom: 30px;
        }

        .section5 .description {
          font: normal normal 300 20px / 24px Urbane;
        }

        .section5 .content {
          display: flex;
          overflow: hidden;
        }

        .section5 .content img {
          height: 100%;
          max-width: 100%;
        }

        .section5 .content .left-container {
          display: flex;
          align-items: center;
          position: relative;
          text-align: right;
          flex: 1;
          height: 80vh;
        }

        .section5 .content .right-container {
          margin-top: 145px;
          display: flex;
          align-items: center;
          position: relative;
          text-align: left;
          flex: 1;
          height: 80vh;
        }

        .section5 .float-app1 {
          position: absolute;
          height: 100%;
          width: auto;
          opacity: 0.8;
          right: 10%;
          transition: opacity 0.7s, right 0.7s;
        }

        .section5 .float-app2 {
          position: absolute;
          height: 100%;
          width: auto;
          left: 10%;
          transition: opacity 0.7s, left 0.7s;
          opacity: 0.8;
        }

        .section5 .float-app-bg1 {
          position: absolute;
          height: 50% !important;
          left: -10%;
          object-fit: cover;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.7s, left 0.7s;
          max-width: calc(100% - 120px) !important;
        }

        .section5 .float-app-bg2 {
          position: absolute;
          height: 50% !important;
          right: -10%;
          object-fit: cover;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.7s, right 0.7s;
          max-width: calc(100% - 120px) !important;
        }

        .section6 {
          position: relative;
          text-align: center;
          margin-bottom: 200px;
        }

        .section6 .title1 {
          margin: 140px 0 20px 0;
          font: normal normal 600 48px / 58px Urbane;
        }

        .section6 .intro-box {
          display: flex;
          position: absolute;
          flex-direction: column;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        .section6 .introduction {
          text-align: left;
          color: #fff;
          background-color: rgba(0, 0, 0, 0.5);
          transition: all 0.3s;
        }

        .section6 .introduction .name {
          margin: 5px 0;
        }

        .section6 .left-container .introduction {
          padding: 3% 5%;
        }

        .section6 .right-container .introduction {
          padding: 4% 8%;
        }

        .section6 .left-container .introduction .name {
          font: normal normal 600 30px/36px Urbane;
        }

        .section6 .left-container .introduction .detail {
          font: normal normal 300 20px/24px Urbane;
        }

        .section6 .left-container .introduction .description {
          font: italic normal 300 20px/24px Urbane;
        }

        .section6 .right-container .introduction .name {
          font: normal normal 600 20px/24px Urbane;
        }

        .section6 .right-container .introduction .detail {
          font: normal normal 300 16px/19px Urbane;
        }

        .section6 .right-container .introduction .description {
          font: italic normal 300 16px/24px Urbane;
        }

        .section6 .introduction .description {
          height: 0;
          display: flex;
          align-items: center;
          overflow: hidden;
          transition: all 0.4s;
        }

        .section6 .title1 span {
          color: #f7711e;
        }

        .section6 > .description {
          margin-bottom: 100px;
          font: normal normal 300 20px / 24px Urbane;
        }

        .section6 .content {
          display: flex;
          width: 100%;
        }

        .section6 .content .left-container {
          flex: 1;
        }

        .section6 .content .left-container .img-card {
          overflow: hidden;
          position: relative;
          margin-right: 8px;
          height: auto;
          aspect-ratio: 1;
        }
        .section6 .content .right-container {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          flex: 1;
        }

        .section6 .content .right-container .img-card {
          overflow: hidden;
          flex-basis: calc(50% - 4px);
          position: relative;
          height: auto;
          aspect-ratio: 1;
        }

        .section6 .extra-margin-right {
          margin-right: 8px;
        }

        .section6 .extra-margin-bottom {
          margin-bottom: 8px;
        }

        .section6 .swiper {
          display: none;
        }

        .section6 .swiper-mb-description {
          display: none;
        }

        .section7 {
          padding: 200px 0;
          background: #000;
        }

        .section7 .container {
          display: flex;
          justify-content: space-between;
        }

        .section7 .swiper {
          display: none;
        }

        .section7 .container > .content {
          cursor: pointer;
          position: relative;
          flex: 0.31;
          height: auto;
          aspect-ratio: 38 / 60;
        }

        .section7 .content .title1 {
          font: normal normal 600 30px / 36px Urbane;
          color: #fff;
          transform: translateY(72%);
          transition: all 0.3s;
        }

        .section7 .content .LearnMore-btn {
          font: normal normal normal 14px / 18px proxima-nova;
          color: #fff;
          text-decoration: underline;
          opacity: 0;
          transition: all 0.3s;
        }

        .section7 .content .mask {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.4);
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          transition: all 0.3s;
          padding-bottom: 23%;
        }

        .section7 .content:hover .mask {
          background-color: rgba(0, 0, 0, 0.2);
        }

        .section7 .content:hover .mask .title1 {
          transform: translateY(0);
        }

        .section7 .content:hover .mask .LearnMore-btn {
          opacity: 1;
        }

        .section8 {
          height: 1080px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .section8 .content {
          margin-left: 12%;
          color: #fff;
          width: 55%;
        }

        .section8 .content .title1 {
          font: normal normal bold 48px/58px Urbane;
        }

        .section8 .content .description {
          font: normal normal normal 24px / 29px proxima-nova;
          width: 60%;
          margin: 34px 0 45px;
        }

        .section8 .content .TestRide-btn {
          transform: translateY(150px);
          display: inline-block;
          font: normal normal 500 16px/16px Urbane;
          color: #000;
          background: #fff;
          border-radius: 30px;
          padding: 14px 36px;
        }

        .section9 {
          height: 85vh;
          display: flex;
          text-align: center;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .section9 .title1 {
          color: #fff;
          width: 60%;
          font: normal normal 600 48px / 58px Urbane;
        }

        .buy-helmet-box-sm {
          display: none;
        }

        @media screen and (min-width: 990px) {
          .section2-pc {
            display: flex;
          }
          .section2 {
            display: none;
          }
        }

        @media screen and (max-width: 989px) {
          .section2-pc {
            display: none;
          }
          .section2 {
            display: flex;
          }
        }

        @media screen and (max-width: 1024px) {
          .section3 .right-container .LearnMore-btn {
            font: normal normal normal 14px / 14px Urbane;
          }

          .section3 .right-container .title2 {
            font: normal normal bold 32px/36px Urbane;
          }

          .section3 .right-container .description {
            font: 500 14px / 18px proxima-nova;
          }

          .section6 .left-container .introduction .name {
            font-size: 22px;
            line-height: 26px;
          }

          .section6 .left-container .introduction .detail {
            font-size: 14px;
            line-height: 18px;
          }

          .section6 .left-container .introduction .description {
            font-size: 14px;
            line-height: 18px;
          }

          .section6 .right-container .introduction .name {
            font-size: 16px;
            line-height: 20px;
          }

          .section6 .right-container .introduction .detail {
            font-size: 10px;
            line-height: 14px;
          }

          .section6 .right-container .introduction .description {
            font-size: 10px;
            line-height: 14px;
          }
        }

        @media screen and (max-width: 750px) {
          .section1#section1-active {
            background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221128-141335.jpg?v=1669616128");
          }

          .section1-common .homeCover{
            background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20070_4a6c2b4e-3bdd-49a0-9f65-acbe000c8466.jpg?v=1675936240");
          }

          .section1-common .homeCover:nth-child(2){
            background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Group_20075.jpg?v=1675907012");
          }

          #homeSwiper .swiper-button-next,
          #homeSwiper .swiper-button-prev{
            display:none;
          }

          .section1-common .homeBtn span{
            width:100% !important;
          }

          .section1-common .homeBtn span:nth-child(1){
            margin-right:0;
            margin-bottom:12px;
          }

          .section1-common .homeContainer{
            padding:40px 8%;
          }

          .section1-common .homeCover{
            align-items: flex-end;
          }

          .section1-common .homeContainer .homeTitle{
            font-size: 40px;
            line-height: 45px;
            font-weight: 600;
          }

          .section1-common .homeContainer .homeDes{
            margin-top:6px;
            width:auto;
            font-size: 14px;
            line-height: 18.5px;
            font-weight: 100;
          }

          .section1-common .homeTopBox img{
            width:auto !important;
    /*         width:auto; */
            height:53px !important;
          }

          .section1-common .homeBottomBox p{
            font-size: 16px;
            line-height: 25px;
            font-weight: 300;
          }

          .section1-common .homeBottomBox{
            margin-top:24px;
          }

          .section1-wrappedBox {
            justify-content: space-between;
            width: 100%;
            padding: 0 8%;
          }

          .section1 .title1 {
            font: normal normal bold 40px/48px Urbane;
            -webkit-text-stroke: 3px #fbe364;
            text-shadow: 0px 0px 30px #ffda12;
          }

          .section1 .content {
            width: 100%;
          }

          .section1-wrappedBox .content-details h3 {
            margin: 0;
            font: normal normal 700 40px/48px urbane;
          }

          .section1-wrappedBox .content-details div {
            font: normal normal 500 24px/32px urbane;
          }

          .section1-wrappedBox .content-details p {
            font: normal normal 200 16px/22px urbane;
          }

          .section2 {
            padding-top: 15%;
            height: 650px;
            padding-bottom: 0;
          }

          .section2 .slide {
            width: 70% !important;
          }

          .section2 .slide .mask {
            background-color: rgba(0, 0, 0, 0);
          }

          .section2 .swiper-pagination-customize {
            max-width: unset;
            padding: 15% 0 10%;
            width: 163%;
            transform: translateX(-19.25%);
            transition: transform 0.3s;
            padding-top: 0;
          }

          .section2 .swiper-wrapper {
            height: 90%;
          }

          .section2 .slide:nth-child(1) {
            background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section2-slide3-mb.jpg") !important;
          }

          .section2 .slide:nth-child(2) {
            background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221212-140132.jpg?v=1670824909") !important;
          }

          .section2 .slide:nth-child(3) {
            background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221226-181434.jpg?v=1672049720") !important;
          }

          .section2 .slide:nth-child(4) {
            background-image: url("https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20221212-135220.jpg?v=1670824814") !important;
          }

          .section2 .slide:nth-child(5) {
            background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221226-181428.jpg?v=1672049720") !important;
          }

          .section2 .swiper-slide .content {
            display: none;
          }

          .swiper-button.swiper-prev {
            left: 8px;
          }

          .swiper-button.swiper-next {
            right: 8px;
          }

          .section2 .swiper-mb-description {
            display: block;
            flex: 0.35;
            width: 60%;
            margin: auto;
            text-align: center;
            color: #fff;
            font: italic normal 300 16px / 19px Urbane;
          }

          .section3 {
            height: 703px;
            display: flex;
            flex-direction: column;
            padding: 0;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom center;
            background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section3-bg-mb.jpg");
          }

          .section3 .content-mb {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            position: relative;
            bottom: 5%;
          }

          .section3 .content-mb .LearnMore-btn {
            font: normal normal normal 16px / 16px Urbane;
            background: #fff;
            padding: 14px 36px;
            border-radius: 30px;
            color: #000;
          }

          .section3 .title1 {
            position: relative;
            top: 0%;
            font: normal normal normal 48px / 60px Lemongrass-Script;
          }

          .section3 .title1 img {
            height: 40px;
          }

          .section3 .title1 span {
            font: normal normal 200 48px / 60px Urbane;
          }

          .section3 .title1 span:nth-child(2) {
            display: block;
          }

          .section3 .content {
            display: none;
          }

          .section3 .wave1 {
            display: none;
          }

          .section3 .wave2 {
            display: none;
          }

          .section3 .wave3 {
            display: none;
          }

          .section4 {
            height: auto;
            padding: 30px 30px 80px;
            margin-bottom: 0px !important;
          }

          .section4 .bg {
            background-image: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/hp-section4-bg-mb.jpg") !important;
            height: 500px;
          }

          .section4 .content {
            font: normal normal 600 20px / 24px Urbane;
            margin-bottom: 10%;
          }

          .section5 .title1 {
            font: normal normal 600 24px / 28px Urbane;
            margin-bottom: 18px;
          }

          .section5 .description {
            font: normal normal 300 14px/20px Urbane;
          }

          .section5 .content {
            flex-direction: column;
            height: 700px;
          }

          .section5 .content .right-container {
            margin-top: 0;
            transform: translateY(-18%);
          }

          .section9 {
            height: 508px;
          }

          .section9 .title1 {
            font: normal normal 600 20px / 24px Urbane;
            padding: 0 45px;
            width: 100%;
          }

          .section6 {
            height: auto;
            margin-bottom: 0;
            padding: 0;
          }

          .section6 .title1 {
            margin: 65px 0;
            font: normal normal 600 24px / 28px Urbane;
          }

          .section6 .content {
            display: none;
          }

          .section6 > .description {
            display: none;
          }

          .section6 .swiper {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }

          .section6 .swiper-mb-description {
            display: block;
            width: 70%;
            height: 80px;
            margin: 12px auto 24px;
          }

          .section6 .swiper-mb-description > div {
            text-align: left;
            font: normal normal 300 14px/17px Urbane;
          }

          .section6 .swiper-wrapper {
            height: 260px;
          }

          .section6 .swiper-button.swiper-prev {
            visibility: hidden;
          }

          .section6 .swiper-button {
            position: absolute;
            height: 52px;
            width: auto;
            aspect-ratio: 1;
            z-index: 2;
          }

          .section6 .swiper-button:hover g circle {
            fill: #fff;
          }

          .section6 .swiper-button:hover g line {
            stroke: #000;
          }

          .section6 .slide.swiper-slide-active {
            opacity: 1;
          }

          .section6 .slide {
            transform: translateX(71.4%);
            width: 70% !important;
            opacity: 0.5;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            transition: opacity 0.4s;
          }

          .section6 .slide > .introduction {
            width: 100%;
            padding: 15px;
          }

          .section6 .slide > .introduction .name {
            font: normal normal 600 20px/24px Urbane;
          }

          .section6 .slide > .introduction .detail {
            font: normal normal 300 14px/17px Urbane;
          }

          .section8 {
            position: relative;
            height: 622px;
            justify-content: flex-start;
          }

          .section8 .mask {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.15);
          }

          .section8 .content {
            position: absolute;
            width: 100%;
            padding: 0 75px;
            margin-left: 0;
            text-align: center;
          }

          .section8 .content .TestRide-btn {
            transform: translateY(54px);
          }

          .section8 .content .description {
            display: none;
          }

          .section8 .content .title1 {
            font: normal normal bold 24px / 28px Urbane;
            margin: 40px 0;
          }

          .section7 {
            padding: 0;
          }

          .section7 .container {
            height: 500px;
            padding-top: 100px;
            padding-bottom: 100px;
          }

          .section7 .container > .swiper {
            display: block;
            width: 80%;
            overflow: visible;
          }

          .section7 .container > .swiper .swiper-pagination {
            bottom: -40px;
            display: flex;
            justify-content: space-between;
          }

          .section7 .container > .swiper .swiper-pagination-bullet-active {
            background-color: #fff;
            opacity: 1 !important;
          }

          .section7 .container > .swiper .swiper-pagination-bullet {
            display: block;
            background-color: #fff;
            width: 28%;
            height: 4px;
            border-radius: 13%;
            opacity: 0.32;
          }

          .section7 .swiper .slide .content .mask {
            background-color: rgba(0, 0, 0, 0.4);
            padding-bottom: 10%;
          }

          .section7 .swiper .swiper-slide-active.content .mask {
            background-color: rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-out 0.3s;
          }

          .section7 .swiper .swiper-slide-active.content:hover .mask {
            background-color: rgba(0, 0, 0, 0);
          }

          .section7 .swiper-slide-active.content .mask .title1 {
            transform: translateY(0);
            transition: all 0.3s ease-out 0.3s;
          }

          .section7 .swiper-slide-active.content .mask .LearnMore-btn {
            opacity: 1;
            transition: all 0.3s ease-out 0.3s;
          }

          .section7 .container > .content {
            display: none;
          }
        }
</style>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
  $(".section6 .img-card").hover(function () {
    let outH = $(this).find(".intro-box").outerHeight();
    let topH = $(this).find(".introduction").outerHeight();
    if (this.parentElement.classList.value.indexOf("left") != -1) {
      $(this).find(".description").height(outH * 0.5 - topH)
    } else {
      $(this).find(".description").height(outH - topH)
    }
  }, function () {
    $(this).find(".description").height(0)
  })
  var swiperWidth = "60%",
    swiperBetween = 100;
  if (window.innerWidth < 750) {
    swiperWidth = "70%";
    swiperBetween = 30;
  }

  var homeSection = new Swiper("#homeSwiper", {
    autoplay: {
      delay: 15000,
      stopOnLastSlide: false,
      disableOnInteraction: true,
    },
    navigation: {
      nextEl: '#homeSwiper .swiper-button-next',
      prevEl: '#homeSwiper .swiper-button-prev',
    },
    pagination: {
      el: '#homeSwiper .swiper-pagination',
    },
  });

  var swiperSection7 = new Swiper(".section7 .swiper", {
    slidesPerView: "auto",
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    spaceBetween: 30,
    initialSlide: 0,
    speed: 300,
    centeredSlides: true,
  });

  var swiperSection2_text2 = new Swiper(".section2-pc .swiperText2", {
    slidesPerView: 3,
    spaceBetween: "10%",
    centeredSlides: true,
    simulateTouch: false,
    speed: 1000,
    initialSlide: 2,
  });
  var swiperSection2_text = new Swiper(".section2-pc .swiperText", {
    width: 488,
    simulateTouch: false,
    controller:{
      control:swiperSection2_text2
    },
    speed: 1000,
    initialSlide: 2,
  });
  var swiperSection2_human = new Swiper(".section2-pc .swiperHuman", {
    width: 488,
    controller:{
      control:swiperSection2_text
    },
    speed: 1000,
    initialSlide: 2,
  });

  function section2Next() {
    swiperSection2_human.slidePrev();
  }
  function section2Prev() {
    swiperSection2_human.slideNext();
  }

  var swiperSection2 = new Swiper(".section2 .swiper", {
    slidesPerView: "auto",
    spaceBetween: swiperBetween,
    initialSlide: 2,
    speed: 600,
    centeredSlides: true,
    width: "65%"
  });
  $(".section2 .swiper-pagination-customize-bullet").click(function () {
    swiperSection2.slideTo(this.tabIndex);
  })
  swiperSection2.on('slideChange', function (swiper) {
    let currentIndex = swiper.realIndex;
    $(".section2 .swiper-mb-description>div")
      .css("transition", "");
    $(".section2 .swiper-mb-description>div")
      .css("opacity", "0");
    $(".section2 .swiper-mb-description>div")
      .css("transform", "translateY(20%)");
    $(".section2 .swiper-pagination-customize-bullet.active")
      .removeClass("active");
    $(".section2 .swiper-pagination-customize-bullet")
      .eq(currentIndex)
      .addClass("active");
    if (currentIndex == 0) {
      $(".section2 .swiper-button.swiper-prev").css("visibility", "hidden")
      $(".section2 .swiper-button.swiper-next").css("visibility", "visible")

    } else if (currentIndex == 4) {
      $(".section2 .swiper-button.swiper-next").css("visibility", "hidden")
      $(".section2 .swiper-button.swiper-prev").css("visibility", "visible")
    } else {
      $(".section2 .swiper-button.swiper-prev").css("visibility", "visible")
      $(".section2 .swiper-button.swiper-next").css("visibility", "visible")
    }
    if (window.innerWidth < 750) {
      $(".section2 .swiper-pagination-customize").css("transform", "translateX(" + (
        1 - currentIndex
      ) * 19.25 + "%)")
    }
    switch (currentIndex) {
      case 0:
        $(".section2 .swiper-mb-description>div").html("“It’s basically a Tesla with two wheels, capable of getting fresh features at any time thanks to over-the-air system updates.”")
        break;
      case 1:
        $(".section2 .swiper-mb-description>div").html("“It weighs about half what other e-bikes do while also fully incorporating an iPhone-esque elegant high-tech design system.”")
        break;
      case 2:
        $(".section2 .swiper-mb-description>div").html("“The smoothness really adds to the sense that the bike is making you feel stronger.”")

        break;
      case 3:
        $(".section2 .swiper-mb-description>div").html("“This e-bike does phone tech better than some phone.”")

        break;
      case 4:
        $(".section2 .swiper-mb-description>div").html("“Lightweight carbon fiber road e-bikes aren’t rare, but affordably-priced ones sure are!”")
        break;
      default:
    }
    setTimeout(() => {
      var Section2Content = document.querySelector(".section2 .slide.swiper-slide-active .content");

      Section2Content.classList.add("inner")
      $(".section2 .swiper-mb-description>div").css("transition", "all 0.8s linear 0.2s");
      $(".section2 .swiper-mb-description>div").css("opacity", "1");
      $(".section2 .swiper-mb-description>div").css("transform", "translateY(0)");
    }, 0)
  });
  var swiperSection6 = new Swiper(".section6 .swiper", {
    slidesPerView: "auto",
    spaceBetween: 30,
    initialSlide: 0,
    speed: 300,
    centeredSlides: true,
    width: swiperWidth
  });
  $(".section6 .swiper-pagination-customize-bullet").click(function () {
    swiperSection6.slideTo(this.tabIndex);
  })
  swiperSection6.on('slideChange', function (swiper) {
    let currentIndex = swiper.realIndex;
    $(".section6 .swiper-mb-description>div")
      .css("transition", "");
    $(".section6 .swiper-mb-description>div")
      .css("opacity", "0");
    $(".section6 .swiper-mb-description>div")
      .css("transform", "translateY(20%)");

    if (currentIndex == 0) {
      $(".section6 .swiper-button.swiper-prev").css("visibility", "hidden")
      $(".section6 .swiper-button.swiper-next").css("visibility", "visible")

    } else if (currentIndex == 4) {
      $(".section6 .swiper-button.swiper-next").css("visibility", "hidden")
      $(".section6 .swiper-button.swiper-prev").css("visibility", "visible")
    } else {
      $(".section6 .swiper-button.swiper-prev").css("visibility", "visible")
      $(".section6 .swiper-button.swiper-next").css("visibility", "visible")
    }

    switch (currentIndex) {
      case 0:
        $(".section6 .swiper-mb-description>div").html('"Urtopia makes me fall in love with riding, and i\'m sure you will too."')
        break;
      case 1:
        $(".section6 .swiper-mb-description>div").html('"Far from the steretype of traditional e-bikes, Urtopia has beautiful bodywork, just as cool as my triathlon bike."')
        break;
      case 2:
        $(".section6 .swiper-mb-description>div").html('"Urtopia Smartbar is fascinating! I\'am amazed by how enjoyable it is."')
        break;
      case 3:
        $(".section6 .swiper-mb-description>div").html('“I got 4 other brands and I still learning the Urtopia but so far my favorite e-bike. Look how far technology has come so fast. Happy and safe riding.”')
        break;
      case 4:
        $(".section6 .swiper-mb-description>div").html('“it is much easier to use :) Going uphill is so much easier, I could even read a book while doing this.”')
        break;
      default:
    }
    setTimeout(() => {
      $(".section6 .swiper-mb-description>div").css("transition", "all 0.8s linear 0.2s");
      $(".section6 .swiper-mb-description>div").css("opacity", "1");
      $(".section6 .swiper-mb-description>div").css("transform", "translateY(0)");
    }, 0)
  });
  $(".section2 .swiper-button.swiper-prev")
    .click(() => {
      swiperSection2.slidePrev();
    });
  $(".section2 .swiper-button.swiper-next")
    .click(() => {
      swiperSection2.slideNext();
    });
  $(".section6 .swiper-button.swiper-prev")
    .click(() => {
      swiperSection6.slidePrev();
    });
  $(".section6 .swiper-button.swiper-next")
    .click(() => {
      swiperSection6.slideNext();
    });
  var hideList = [],
    showList = [], innerTimes = 1;
  window.addEventListener('scroll', isShow)
  function isShow() {
    if (innerTimes) {
      var first = document.querySelector(".section2 .slide.swiper-slide-active .content");
      let ftop = first.getBoundingClientRect().top;
      if (window.innerHeight - ftop > 20) {
        first.classList.add("inner")
        innerTimes--;
      }
    }
    hideList.forEach((item, index) => {
      if (item) {
        let { top, bottom } = item.getBoundingClientRect();
        let s = window.innerHeight - top;

        let itemClass = item.getAttribute('class');
        if (s > 60) {
          if (itemClass.indexOf("float-app1") != -1 || itemClass.indexOf("float-app-bg2") != -1) {
            item.style.right = '0'

          } else if (itemClass.indexOf("float-app2") != -1 || itemClass.indexOf("float-app-bg1") != -1) {
            item.style.left = '0'
          } else if (itemClass.indexOf("bike") != -1) {
            item.style.transform = 'translate(0%)';
          }
          else {
            item.classList.remove("fade-in-hide")
            item.classList.add("fade-in-show");
          }
          item.style.opacity = '1'
          if (!showList.includes(item)) {
            hideList[index] = null;
          }
        }
        if (showList.includes(item) && s < 60) {
          if (itemClass.indexOf("float-app1") != -1) {
            item.style.right = '10%'
            item.style.opacity = '0.8'
          } else if (itemClass.indexOf("float-app-bg2") != -1) {
            item.style.right = '-10%'
            item.style.opacity = '0'

          } else if (itemClass.indexOf("float-app2") != -1) {
            item.style.left = '10%'
            item.style.opacity = '0.8'
          } else if (itemClass.indexOf("float-app-bg1") != -1) {
            item.style.left = '-10%'
            item.style.opacity = '0'
          } else if (itemClass.indexOf("bike") != -1) {
            item.style.transform = "translate(0%, 6%)";

            item.style.opacity = '0.8'
          }
        }
      }
    })
  }
  hideList.push(document.querySelector('.section5 .float-app1'));
  hideList.push(document.querySelector('.section5 .float-app2'));
  hideList.push(document.querySelector('.section5 .float-app-bg1'));
  hideList.push(document.querySelector('.section5 .float-app-bg2'));
  hideList.push(document.querySelector('.section3 .bike'));
  showList.push(document.querySelector('.section3 .bike'));
  showList.push(document.querySelector('.section5 .float-app1'));
  showList.push(document.querySelector('.section5 .float-app2'));
  showList.push(document.querySelector('.section5 .float-app-bg1'));
  showList.push(document.querySelector('.section5 .float-app-bg2'));
  isShow();
</script>
{% schema %}
{
"name": "homePage",
"class": "homePage",
"settings": [],
"blocks": [
{
"name": "section1",
"type": "image",
"settings": [
{
"type": "image_picker",
"id": "backgroundImg",
"label": "background-img"
},
{
"type": "text",
"id": "title1",
"label": "title1"
},
{

"type": "text",
"id": "title2",
"label": "title2"
},
{
"type": "text",
"id": "button1",
"label": "button1"
}, {
"type": "text",
"id": "button2",
"label": "button2"
}
]
}, {
"name": "section2",
"type": "slide",
"settings": [
{
"type": "image_picker",
"id": "img1",
"label": "img1"
},
{
"type": "image_picker",
"id": "img2",
"label": "img2"
},
{
"type": "image_picker",
"id": "img3",
"label": "img3"
},
{
"type": "image_picker",
"id": "img4",
"label": "img4"
}, {
"type": "image_picker",
"id": "img5",
"label": "img5"
}
]
}
],
"presets": [
{
"name": "homePage"
}
]
}
{% endschema %}
