{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.95a51b80.css' | asset_url }}">
		  <style></style><div style="opacity:0" class="sc-giYglK hHzYuJ __pf __pf_aJvFF_F3" id="__pf"><div data-pf-type="Body" class="sc-dVNjXY gaVfQc pf-1_"></div></div><script>
    !function(){window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.25.9","shopDomain":"urtopia-de.myshopify.com","elementData":{},"pageTitle":"cheers-button-track","pageType":"home","pageId":"95a51b80-68d2-4285-b082-d3ad3e60433b","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/3.25.9/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=95a51b80-68d2-4285-b082-d3ad3e60433b)."
    }
  ]
}
{% endschema %}