{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.102c91e3.css' | asset_url }}">
		 <style>:root { 	user-select: none; } a { 	color: #000; } a:hover { 	color: #263B55; } body { 	letter-spacing: 0; } /* 全局字体设置start */ .u17Light { 	font: normal normal 300 17px/19px urbane; } .u20Light { 	font: normal normal 300 20px/24px urbane; } .u24Light { 	font: normal normal 300 24px/27px urbane; } .u36Light { 	font: normal normal 300 36px/42px urbane; } .u20Medium { 	font: normal normal 500 20px/24px urbane; } .u24Medium { 	font: normal normal 500 24px/27px urbane; } .u30Medium { 	font: normal normal 500 30px/34px urbane; } .u36Medium { 	font: normal normal 500 36px/42px urbane; } .u20DemiBold { 	font: normal normal 600 20px/24px urbane; } .u30DemiBold { 	font: normal normal 600 30px/34px urbane; } .u36DemiBold { 	font: normal normal 600 36px/42px urbane; } .u42DemiBold { 	font: normal normal 600 42px/48px urbane; } .u48DemiBold { 	font: normal normal 600 48px/54px urbane; } h2 { 	margin: auto; 	font: normal normal 600 72px/86px urbane; } h3 { 	margin: auto; 	font: normal normal 600 42px/50px urbane; } h1 { 	margin: 0; 	font-weight: bold; 	font: normal normal 600 48px/48px urbane; } body .my-button { 	padding: 14px 36px; 	background-color: #fff; 	color: #000; 	border-radius: 30px; 	font: normal normal 500 14px/16px urbane; 	cursor: pointer; 	white-space: nowrap; } body .my-button-ghost { 	background-color: transparent; 	border: 2px solid #fff; 	color: #fff; } body .my-button-black { 	background-color: #000; 	color: #fff; } body .my-button-white { 	background-color: transparent; 	border: 2px solid #000; } @media (max-width: 767px) { 	h2 { 	margin: auto; 	font: normal normal 600 48px/48px urbane; } body .my-button { 	padding: 11px 20px; } }</style> <style></style><div style="opacity:0" class="sc-bYoBSM hUVNGC __pf __pf_GlWfNY-b" id="__pf"><div data-pf-type="Body" class="sc-hjGZqJ fNoOP pf-1_"><div data-pf-type="Layout" class="sc-htJRVC dNJAjO pf-2_"><div data-section-id="pf-3e0a" data-pf-type="Section" class="sc-fmciRz bheIgq pf-3_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-4_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-5_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-6_">
    <div class="banner pcHide">
        <div>
            <div class="u60DemiBold">New Arrival</div>
            <div class="u17Light">Early birds enjoy €700 off</div>
        </div>
        <a class="my-button" href="/pages/lightweight-commuter-ebike-urtopia-chord">Learn More</a>
	  		<img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230306-093453.png?v=1678066544"/>
        <div>
            <div class="u60DemiBold">Urtopia Chord</div>
            <div class="u17Light">on our limited-time offer</div>
        </div>
    </div>
    <div class="banner banner-mobile mobileHide">
        <div>
            <div class="u24Light">New Arrival</div>
            <div class="u42DemiBold">Chord</div>
            <div class="u17Light">Early birds enjoy €700 off on our limited-time offer.</div>
            <div style="margin-top: 35px;z-index:2;">
			  <a class="my-button" href="/pages/lightweight-commuter-ebike-urtopia-chord">Learn More</a>
		  </div>
        </div>
	      <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230306-095205.png?v=1678067541"/>
        <div></div>
	      
    </div>


<style>
.banner {
    display: flex;
    height: calc(100vh - 111px);
    position: relative;
}

.banner > div:first-child {
        padding-top: 90px;
    width: 50%;
    background-color: #000;
    color: #fff;
    text-align: right;
    padding-right: 10px;
}
  
  .banner > img {
	 position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    margin: auto;
  }

.banner > div:last-child {
        padding-top: 90px;
    width: 50%;
    background-color: #fff;
    color: #000;
    text-align: left;
    padding-left: 10px;
}

.banner .u60DemiBold {
    font: normal normal 600 60px urbane;
    white-space: nowrap;
    overflow: hidden;
}

.banner .u17Light {
    margin-top: 15px;
    font-weight: 100;
    font-weight: 400;
}

.banner .my-button {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
 	  z-index: 1;
    
}

@media (min-width: 768px) {
    .mobileHide {
        display: none !important;
    }
}
</style>

<style>
@media (max-width: 767px) {
    .pcHide {
        display: none !important;
    }
  
  .banner-mobile {
	  height: 685px;
  }

    .banner-mobile > div:first-child {
        flex: 2.5;
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: left;
        padding-left: 7%;
    }
  
  .banner-mobile > img {
	  width: 100%
  }

    .banner-mobile .my-button {
        position: static;
        margin: 0;
        box-shadow: none;
        margin-top: 35px;
    }

    .banner-mobile .u24Light {
        padding-top: 25%;
        font-weight: 400;
    }

    .banner-mobile .u42DemiBold {
        margin: 5px 0 20px;
    }
}
</style></div></div></div></div></div></div><div data-section-id="pf-636d" data-pf-type="Section" class="sc-fmciRz bheIgq pf-7_ pf-sm-hide pf-hide"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-8_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-9_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-10_"><div id="section1">
    <div class="texts">
      <div>“It's incredibly fun to ride”</div>
      <div></div>
    </div>
    <div class="logos">
      <img active src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165148.png?v=1677574346" onclick="moveTop(`“It's incredibly fun to ride”`, this)"/>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165209.png?v=1677574346" onclick="moveTop('“Like a phone’s than a next-gen fixie”', this)"/>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18075_2x_5ed82c19-16b6-4f05-870a-623b5429a75f.png?v=1677303615" onclick="moveTop(`“One of the smartest ebike”`, this)"/>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165154.png?v=1677574346" onclick="moveTop('“Best Electric Bike for 2022”', this)"/>
      <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165159.png?v=1677574346" onclick="moveTop('“Does phone tech better than some phones”', this)"/>
    </div>
  </div>

<style>
@keyframes toTop {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }

    /* 50% {
      opacity: 0.5;
      transform: translateY(-20px);
    } */

    100% {
      transform: translateY(-40px);
      opacity: 1;
    }
}

@keyframes toBottom {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }

    /* 50% {
      opacity: 0.5;
      transform: translateY(20px);
    } */

    100% {
      transform: translateY(40px);
      opacity: 0;
    }
}

#section1 .texts div {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

#section1 .texts .toTop {
  opacity: 1;
  animation-name: toTop;
  transform: translateY(-40px);
}

#section1 .texts .toBottom {
  opacity: 0;
  animation-name: toBottom;
  transform: translateY(40px);
}


#section1 {
  display: flex;
  height: 340px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 75px 0;
  box-sizing: border-box;
}

#section1 .texts {
  flex: 1;
  font: normal normal bold 30px/40px Urbane;
  display: flex;
    align-items: center;
    flex-direction: column;
}

#section1 .logos img {
  height: 60px;
  width: auto;
  margin: 0 39px;
  opacity: 0.5;
}

#section1 .logos img[active] {
  opacity: 1;
}



</style>

<script>
    let temp = `“It's incredibly fun to ride”`

    function moveTop (text, target) {
      const active = target.getAttribute('active')

      if (active !== null) {
        return
      }

      const current = document.querySelector('#section1 .logos img[active]')

      current.removeAttribute('active')
      target.setAttribute('active', '')

      const texts = document.querySelector('#section1 .texts')
      texts.innerHTML = `
                          <div class="toBottom">${temp}</div>
                          <div class="toTop">${text}</div>
                        `

      temp = text
    }
  </script></div></div></div></div></div></div><div data-section-id="pf-7952" data-pf-type="Section" class="sc-fmciRz bheIgq pf-11_ pf-lg-hide pf-md-hide"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-12_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-13_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-14_"><style>

#section1-mobile {
    overflow: hidden;
    --swiper-theme-color: #000;
    --swiper-pagination-color: #000;/* 两种都可以 */
}

#section1-mobile .swiper-slide {
    box-sizing: border-box;
    padding: 0 10%;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#section1-mobile .swiper-slide img {
    height: 60px;
  width: auto;
}


#section1-mobile .swiper-slide .u20Medium {
    font-weight: 600;
    margin: 20px 0 40px;
    font-size: 22px;
    line-height: 26px;
}

#section1-mobile .swiper-pagination {
    position: static;
}

#section1-mobile .swiper-pagination-bullet {
    height: 6px;
    width: 6px;
}

#section1-mobile .swiper-pagination-bullet-active {
    width: 30px;
    height: 6px;
    border-radius: 5px;
    transition: all .3s;
}
</style>


<div id="section1-mobile">
        <div class="swiper-wrapper swiper-container-horizontal swiper-container-fade">
          <div class="swiper-slide">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165148.png?v=1677574346"/>
            <div class="u20Medium">“It's incredibly fun to ride”</div>
          </div>
          <div class="swiper-slide">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165209.png?v=1677574346"/>
            <div class="u20Medium">“Like a phone’s than a next-gen fixie”</div>
          </div>
          <div class="swiper-slide">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18075_2x_5ed82c19-16b6-4f05-870a-623b5429a75f.png?v=1677303615"/>
            <div class="u20Medium">“One of the smartest ebike”</div>
          </div>
          <div class="swiper-slide">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165154.png?v=1677574346"/>
            <div class="u20Medium">“Best Electric Bike for 2022”</div>
          </div>
          <div class="swiper-slide">
            <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-165159.png?v=1677574346"/>
            <div class="u20Medium">“Does phone tech better than some phones”</div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/8-swiper-bundle.min.js?v=1663912984"> </script>
   <script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1.14.2-TweenMax.js?v=1663912518"></script>
<script setup>
new Swiper ('#section1-mobile', {    
        // slidesPerView: 1,
        // spaceBetween: 30,
        effect: 'fade',
        fadeEffect:{
            crossFade: true
        },
        pagination: {el:'.swiper-pagination'},
        speed: 300,
  }) 

</script></div></div></div></div></div></div><div data-section-id="pf-2881" data-pf-type="Section" class="sc-fmciRz bheIgq pf-15_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-16_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-17_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-18_"><style>
  #bike {
    max-width: 1280px;
	/* background-color: #F7F8FA; */
    margin: auto;
      --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
      --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
      --swiper-navigation-size: 30px;/* 设置按钮大小 */
      position: relative;
      overflow-x: hidden;
  }

  #bike .swiper-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 5px 0;
    box-sizing: border-box;
  }

  #bike .swiper-slide .name {
    font: normal normal 600 24px/27px urbane;
  }

  #bike .swiper-slide .info {
    font: normal normal 400 14px/14px urbane;
    color: #a1a1a1;
    margin-top: 10px;
  }

  #bike .swiper-slide .new {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #263B55;
    padding: 10px 20px;
    font: normal normal 600 14px/14px urbane;
  }

  #bike .swiper-slide img {
    width: 100%;
    margin: 40px 0 30px;
  }

  #bike .swiper-slide .dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bike .swiper-slide .dots > div {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
	 box-sizing: content-box;
  }

  #bike .swiper-slide .dots > div::after {
    content: "";
    display: inline-block;
    height: 16px;
    margin: 2px;
    width: 16px;
    border-radius: 100%;
  }
  
  #bike .swiper-slide .dots > div[yellow] {
    background-color: #fbcf40;
  }

  #bike .swiper-slide .dots .active[yellow] {
    background-color: transparent;
    border: 2px solid #666;
  }

  #bike .swiper-slide .dots .active[yellow]::after  {
    background-color: #fbcf40;
  }

  #bike .swiper-slide .dots > div[black] {
    background-color: #000;
  }

  #bike .swiper-slide .dots .active[black] {
    background-color: transparent;
    border: 2px solid #666;
  }

  #bike .swiper-slide .dots .active[black]::after  {
    background-color: #000;
  }

  #bike .swiper-slide .dots > div[white] {
    background-color: #ddd;
  }

  #bike .swiper-slide .dots .active[white] {
    background-color: transparent;
    border: 2px solid #666;
  }

  #bike .swiper-slide .dots .active[white]::after  {
    background-color: #ddd;
  }

  #bike .swiper-slide .dots > div[orange] {
    background-color: #FD4B17;
  }

  #bike .swiper-slide .dots .active[orange] {
    background-color: transparent;
    border: 2px solid #666;
  }

  #bike .swiper-slide .dots .active[orange]::after  {
    background-color: #FD4B17;
  }

  #bike .swiper-slide .dots > div[gray] {
    background-color: #919191;
  }

  #bike .swiper-slide .dots .active[gray] {
    background-color: transparent;
    border: 2px solid #666;
  }

  #bike .swiper-slide .dots .active[gray]::after  {
    background-color: #919191;
  }

  #bike .swiper-slide .dots > div[peach] {
    background-color: #F0EEDF;
  }

  #bike .swiper-slide .dots .active[peach] {
    background-color: transparent;
    border: 2px solid #F0EEDF;
  }

  #bike .swiper-slide .dots .active[peach]::after  {
    background-color: #F0EEDF;
  }

  #bike .swiper-slide .size {
    font: normal normal 500 20px/36px urbane;
    margin-bottom: 30px;
  }


  #bike .swiper-button-prev,
  #bike .swiper-button-next {
    background-color: #000;
    opacity: 0.5;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 35%;
  }

  #bike .swiper-button-prev::after,
  #bike .swiper-button-next::after {
    font-size: 14px;
  }

  #bike .swiper-button-prev.swiper-button-disabled,
  #bike .swiper-button-next.swiper-button-disabled {
    opacity: 0.2;
  }
  
</style>

<style>
@media (max-width: 767px) {
    #bike {
        width: 100vw;
    }

    #bike .swiper-slide {
        padding:0 20px;
    }

    #bike .swiper-slide .new {
        left: 20px;
        font-weight: 500;
    }

    #bike .swiper-slide img {
        margin: 40px 0 15px;
    }

    #bike .swiper-button-prev,
    #bike .swiper-button-next {
        display: none;
    }

    #bike .swiper-scrollbar {
        height: 2px;
        position: static;
        margin: 75px auto 0;
        width: calc(100vw - 100px);
    }
}


@media (min-width: 768px) {
    #bike .swiper-scrollbar {
        display: none;
    }
}
</style>
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18397_2x_1f9c1e43-b341-430d-aa9d-bdc5432ac4d4.png?v=1677639396" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2.88_2x_4ebddfe8-c42e-4196-80e2-2f844bdec3dc.png?v=1677639816" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18151_2x_702ec45e-0fe8-49ed-865a-df341d3033d7.png?v=1677640124" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18138_2x_de02f431-3e7d-48c0-b887-85eda46c2421.png?v=1677640174" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18150_2x_63ea456b-69c1-4d96-988f-efa931148bc1.png?v=1677640442" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18139_2x_ee2cf1ae-8693-42a3-ab99-d53ea78e2802.png?v=1677640511" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230306-115135.png?v=1678074731" as="image">

<div id="bike">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="name">Chord</div>
              <div class="info"> </div>
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1_1_2x_c29f513e-3efa-4fb3-a74d-f83107bdd824.png?v=1677639590" alt="">
              <div class="dots">
                <div onclick="changeBike('/products/urtopia-chord-ebike?variant=43705718997208', 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1_1_2x_c29f513e-3efa-4fb3-a74d-f83107bdd824.png?v=1677639590', this)" white class="active"></div>
                <div onclick="changeBike('/products/urtopia-chord-ebike?variant=43705719029976', 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18397_2x_1f9c1e43-b341-430d-aa9d-bdc5432ac4d4.png?v=1677639396', this)" black></div>
              </div>
              <div class="size">Fit for 170cm - 195cm</div>
              <a class="my-button my-button-white" href="/products/urtopia-chord-ebike?variant=43705718997208">Order now</a>
              <div class="my-button my-button-black new">New</div>
          </div>
          <div class="swiper-slide">
            <div class="name">Chord X</div>
            <div class="info"> </div>
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18400_2x_6789324f-33d2-4342-9519-0ee3bc943699.png?v=1677639718" alt="">
              <div class="dots">
                <div onclick="changeBike('/products/urtopia-chord-ebike?variant=43705719062744', 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18400_2x_6789324f-33d2-4342-9519-0ee3bc943699.png?v=1677639718', this)" white class="active"></div>
                <div onclick="changeBike('/products/urtopia-chord-ebike?variant=43705719095512', 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/2.88_2x_4ebddfe8-c42e-4196-80e2-2f844bdec3dc.png?v=1677639816', this)" black></div>
              </div>
              <div class="size">Fit for 160cm - 185cm</div>
              <a class="my-button my-button-white" href="/products/urtopia-chord-ebike?variant=43705719062744">Order now</a>
              <div class="my-button my-button-black new">New</div>
            </div>
          <!-- <div class="swiper-slide">
            <div class="name">Carbon 1</div>
            <div class="info">Shimano 7-Speed</div>
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18297_2x_eae075fb-1d14-4217-bbef-0d2f2e476f2e.png?v=1677640028" alt="">
              <div class="dots">
                <div onclick="changeBike('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18297_2x_eae075fb-1d14-4217-bbef-0d2f2e476f2e.png?v=1677640028', this)" orange class="active"></div>
                <div onclick="changeBike('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18151_2x_702ec45e-0fe8-49ed-865a-df341d3033d7.png?v=1677640124', this)" yellow></div>
                <div onclick="changeBike('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18138_2x_de02f431-3e7d-48c0-b887-85eda46c2421.png?v=1677640174', this)" gray></div>
						<div onclick="changeBike('https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18364_2x_1d2d4d5c-87cc-4f67-a91b-c45dc8082320.png?v=1677640628', this)" peach></div>
              </div>
              <div class="size">Fit for 160cm - 195cm</div>
              <div class="my-button my-button-white">Order now</div>
          </div> -->
          <div class="swiper-slide">
            <div class="name">Carbon 1</div>
            <div class="info">Carbon Belt</div>
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18298_2x_c9d66b5e-a0bb-4339-92db-e30b51859060.png?v=1677640298" alt="">
              <div class="dots">
                <div onclick="changeBike('/products/urtopia-carbon-e-bike?variant=42615025172696', 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18298_2x_c9d66b5e-a0bb-4339-92db-e30b51859060.png?v=1677640298', this)" orange class="active"></div>
                <div onclick="changeBike('/products/urtopia-carbon-e-bike?variant=42615025303768', 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18150_2x_63ea456b-69c1-4d96-988f-efa931148bc1.png?v=1677640442', this)" yellow></div>
                <div onclick="changeBike('/products/urtopia-carbon-e-bike?variant=42615025238232', 'https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18139_2x_ee2cf1ae-8693-42a3-ab99-d53ea78e2802.png?v=1677640511', this)" gray></div>
						<div onclick="changeBike('/products/urtopia-carbon-e-bike?variant=43608364417240', 'https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230306-115135.png?v=1678074731', this)" peach></div>
              </div>
              <div class="size">Fit for 170cm - 195cm</div>
              <a href="/products/urtopia-carbon-e-bike?variant=42615025172696" class="my-button my-button-white">Order now</a>
            </div>
      </div>
      <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
      <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
      <div class="swiper-scrollbar"></div>
    </div>

<script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/8-swiper-bundle.min.js?v=1663912984"> </script>
<script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1.14.2-TweenMax.js?v=1663912518"></script>
<script setup>

const isMobile = document.body.clientWidth < 768

new Swiper ('#bike', {
        // direction: 'vertical',  
        slidesPerView: isMobile ? 1 : 3,
        // spaceBetween: 30,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
      },
      // 如果需要滚动条
        scrollbar: {
            el: '.swiper-scrollbar',
        },
  })

</script>

<script>
  function changeBike (gotoUrl, imgUrl, target) {
    const parent = target.parentNode

    const active = parent.querySelector('.active')

    active.className = ''
    target.className = 'active'

    const img = parent.parentNode.querySelector('img')
    img.src = imgUrl

    // 新增的代码
    const a = parent.parentNode.querySelector('a')
    a.href = gotoUrl
  }
</script></div></div></div></div></div></div><div data-section-id="pf-5f7c" data-pf-type="Section" class="sc-fmciRz bheIgq pf-19_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-20_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-21_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-22_"><style>
  #section2 {
	height: 800px;
	background: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230217-untitled-7317_2x_f9e6e7ad-635a-44c8-a608-87a568febfd0.png?v=1677566487") center center/cover no-repeat;
	color: #fff;
	  display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    padding-left: 15vw;
  }
  
  #section2 h1 {
	color: #fff;
	margin: 0;
  }
  
  #section2 .u20Light {
	margin: 12px 0 30px;
  }
</style>


<style>
@media (max-width: 767px) {
  #section2 {
	height: 600px;
	background: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18372_2x_6af0891a-02ab-4e62-83a2-9b7318118d67.png?v=1677661324") center center/cover no-repeat;
	padding-left: 0;
	align-items: center;
	justify-content: unset;
	padding-top: 5%;
  }
  
  #section2 .u20Light {
	  font-size: 14px;
	  margin: -5px 0 15px;
	}
	
	#section2 h1 {
	  font-size: 24px;
	}
 }
</style>

<div id="section2">
  <h1>Chord</h1>
  <div class="u20Light">In Tune with Your Ride</div>
  <div>
	 <a class="my-button" href="/pages/lightweight-commuter-ebike-urtopia-chord">Learn more</a>
  </div>
</div>


</div></div></div></div></div></div><div data-section-id="pf-8805" data-pf-type="Section" class="sc-fmciRz bheIgq pf-23_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-24_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-25_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-26_"><style>
  #section3 {
	height: 800px;
	background: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/img_v2_e35c9305-6b5b-4545-98c7-cb826aa79c4g_2x_c6e5837f-d3db-412c-90cb-80e5c97dc4c7.png?v=1677566638") center center/cover no-repeat;
	color: #fff;
	  display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    padding-left: 15vw;
  }
  
  #section3 h1 {
	color: #fff;
	margin: 0;
  }
  
  #section3 .u20Light {
	margin: 12px 0 30px;
  }
</style>

<style>
@media (max-width: 767px) {
  #section3 {
	height: 600px;
	background: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18371_2x_650a7a22-6c8e-4295-b1d2-a44c5759079a.png?v=1677662189") center center/cover no-repeat;
	padding-left: 0;
	align-items: center;
	justify-content: unset;
	padding-top: 5%;
  }
  
  #section3 .u20Light {
	  font-size: 14px;
	  margin: -5px 0 15px;
	}
	
	#section3 h1 {
	  font-size: 24px;
	}
 }
  
  	
</style>

<div id="section3">
  <h1>Carbon 1</h1>
  <div class="u20Light">Sporty and Futuristic</div>
  <div>
	<a class="my-button" href="/pages/e-bike">Learn more</a>
  </div>
</div>
</div></div></div></div></div></div><div data-section-id="pf-e926" data-pf-type="Section" class="sc-fmciRz bheIgq pf-27_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-28_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-29_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-30_"><style>

#section4 {
  max-width: 1280px;
      margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 600px;
    justify-content: center;
  background-color: #fff;
}
  
  #section4 > div {
	display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 14% 0 19%;
  }
  

  #section4 > div:first-child {
	    background: url(https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18294_2x_849210ff-f5fe-4be8-a248-3afbe6674080.png?v=1677557363) bottom center/cover no-repeat;
    background-color: #161A22;
    background-size: 75%;
}
  
    #section4 > div:last-child {
	    background: url(https://cdn.shopify.com/s/files/1/0633/2068/6808/files/20230306-114106.jpg?v=1678074104) bottom center/cover no-repeat;
    background-color: #161A22;
}
  
   #section4 h1 {
	margin: 0;
  }
  
  #section4 .u20Medium {
	margin: 20px 0 40px;
	font-weight: 300;
	font-size: 17px;
  }
</style>

<style>
@media (max-width: 767px) {
  #section4 {
		grid-template-columns: 1fr;
	   padding: 0;
	   grid-template-rows: 330px 266px 266px 295px;
  }
  
  #section4 > div {
	  display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
  }
  
  #section4 h1 {
	font-size: 24px;
	font-weight: bold;
  }
  
  #section4 .u20Medium {
	font-size: 15px;
	margin: 10px 0 20px;
  }
  
  #section4 > div:last-child {
	position: relative;
	top: -266px;
  }
  
  #section4 > div:nth-child(3) {
	position: relative;
	top: 295px;
  }
  
 }
</style>

<div id="section4">
    <div></div>
    <div>
	  	  <h1>Smart App</h1>
		  <div class="u20Medium">Connect, track, share, achieve - Urtopia app: Your perfect cycling companion!</div>
  	  </div>
    <div>
	  	  <h1>Urtopia CARE</h1>
		  <div class="u20Medium">2-year warranty and 24/7 support for a worry-free ride with full after-sales service.</div>
		  <div>
			<a class="my-button my-button-black" href="/pages/care">Learn more</a>
	  </div>
  		</div>
    <div></div>
 </div>

</div></div></div></div></div></div><div data-section-id="pf-d154" data-pf-type="Section" class="sc-fmciRz bheIgq pf-31_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-32_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-33_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-34_"><div id="section5">
  <div class="info">
	  <h1>Test Ride</h1>
	  <div class="u20Light">wait no longer, come and enjoy a fun ride!</div>
	  <a class="my-button" href="https://newurtopia.de/pages/test-ride">Test ride</a>
  </div>
</div>


<style>
  #section5 {
	height: 650px;
	max-width: 1280px;
	background: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF9950_2x_8687d7e5-88f3-465b-869e-b322d8fef18a.png?v=1677563399") center center/cover no-repeat;
	color: #fff;
	  display: flex;
    color: #fff;
	    justify-content: flex-end;
    align-items: center;
	  margin: 0 auto;
	padding-right: 250px;
  }
  
  #section5 h1 {
	color: #fff;
	margin: 0;
  }
  
  #section5 .u20Light {
	margin: 12px 0 30px;
	width: 280px;
  }
  
  #section5 .info {
	width: 280px;
  }
</style>

<style>
  @media (max-width: 767px) {
	#section5 {
	  height: 390px;
	  justify-content: center;
    align-items: unset;
	  padding: 0;
	      padding-top: 10%;
	  background: url("https://cdn.shopify.com/s/files/1/0583/5810/4213/files/DSCF9950_2x_6f2c5510-a3b0-4500-9e96-753bf86d0e45.png?v=1677666583") center center/cover no-repeat;
	}
	
	#section5 .info {
	  display: flex;
     flex-direction: column;
     align-items: center;
	      text-align: center;
	}
	
	#section5 .info h1 {
	  font-size: 30px;
	}
	
	#section5 .info .u20Light {
	  font-size: 14px;
	  width: 240px;
	}
	
	#section5 .info .my-button {
	  position: absolute;
     bottom: 10%;
	}
	
  }
</style></div></div></div></div></div></div><div data-section-id="pf-76d6" data-pf-type="Section" class="sc-fmciRz bheIgq pf-35_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-36_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-37_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-38_"><div id="section6">
  <h1>Ambass Reviews</h1>
  <div class="u20Medium">
		Feel the Love From Celebrities and Athletes <a href="https://newurtopia.de/pages/community">Learn more<a>
  </div>
</div>

<style>
  #section6 {
	max-width: 1280px;
	margin: auto;
  }
  
  #section6 .u20Medium {
	margin-top: 20px;
	width: 400px;
	line-height: 28px;
  }
  
  #section6 a {
	text-decoration: underline;
    font-weight: bold;
	cursor: pointer;
  }
</style>
	
<style>
  @media (max-width: 767px) {
	#section6 h1 {
	  font-size: 24px;
	}
	
	#section6 .u20Medium {
	  width: 100%;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
	  font-size: 14px;
	}
  }	
</style></div></div></div></div></div></div><div data-section-id="pf-102c" data-pf-type="Section" class="sc-fmciRz bheIgq pf-39_"><div class="sc-gjNHFA gwWIgj"><div class="sc-ezbkAF A-dmbO pf-40_ pf-r pf-c-cm pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-gUQvok iVVDxu pf-41_"><div data-pf-type="Custom.HTML" class="sc-AjmGg eCTxfx pf-42_"><style>

#section7 {
      max-width: 1280px;
      margin: auto;
      --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
      --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
      --swiper-navigation-size: 30px;/* 设置按钮大小 */
      position: relative;
      overflow: hidden;
      cursor: auto;
    }
    
    #section7 img {
      width: 100%;
      height: auto;
    }

    #section7 .swiper-button-prev {
      left: 25px;
      top: calc(50% - 35px);
    }

    #section7 .swiper-button-next {
      right: 15px;
      top: calc(50% - 35px);
    }

    #section7 .swiper-slide .text {
      position: relative;
      left: 10px;
      text-align: left;
      font-size: 16px;
    }
  
  #section7 .swiper-slide .u24Medium {
	    font-weight: 700;
  }
  
  #section7 .swiper-slide .u17Light {
	    margin-top: 20px;
  }
  
  
</style>

<style>
@media (max-width: 767px) {
    #section7 .swiper-button-prev,
    #section7 .swiper-button-next {
        display: none;
    }

    #section7 .swiper-scrollbar {
        height: 2px;
        position: static;
        margin: 75px auto 0;
        width: calc(100vw - 100px);
    }

    #section7 .swiper-slide .text {
      left: 0;
    }

    #section7 .swiper-slide .text .u17Light {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    #section7 .swiper-slide .text .u24Medium {
      font-size: 20px;
    }
}


@media (min-width: 768px) {
    #section7 .swiper-scrollbar {
        display: none;
    }
}
</style>


    <div id="section7">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20221031-150959_2x_73aee806-ce30-4b48-a6d0-ccf7d7ad2846.png?v=1677570084" alt="">
              <div class="text">
                <div class="u17Light">NBA Hall of Fame</div>
                <div class="u24Medium">Tracy Mcgrady</div>
              </div>
          </div>
		 <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0633/2068/6808/files/Mask_Group_18449.jpg?v=1678259406" alt="">
              <div class="text">
                <div class="u17Light">Classical Crossover Pianist</div>
                <div class="u24Medium">Maksim Mrvica</div>
              </div>
          </div>
		<div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/20230228-170547.jpg?v=1677575166" alt="">
              <div class="text">
                <div class="u17Light">2021 Canoeing Olympic Champion</div>
                <div class="u24Medium">Max Lemke</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_17920_2x_497e7daa-cce5-4377-bd70-b87b4741b84a.png?v=1677570061" alt="">
              <div class="text">
                <div class="u17Light">5x German champion triathlete</div>
                <div class="u24Medium">Franz Loeschke</div>
              </div>
          </div>
			 
			  <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18384_2x_a1e993bf-6c59-495e-9144-249560a9464f.png?v=1677571548" alt="">
              <div class="text">
                <div class="u17Light">Best Jewelers in the World</div>
                <div class="u24Medium">Ben Baller</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18385_2x_be0fdf1b-aa6c-4876-b59d-b4726fbe85f4.png?v=1677570039" alt="">
              <div class="text">
                <div class="u17Light">Choice Award for Favorite Band</div>
                <div class="u24Medium">Smash Mouth</div>
              </div>
          </div>
				
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/URTOPIA_PISA-2_1_2x_661af923-52ce-4264-8f33-57e2ad655b9c.png?v=1677571232" alt="">
              <div class="text">
                <div class="u17Light">3x Italian BMX Champion</div>
                <div class="u24Medium">Alessandro Barbero</div>
              </div>
          </div>
          <div class="swiper-slide">
              <img src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/Mask_Group_18386_2x_3ed11b52-b136-4263-8a1b-568fb7e95e69.png?v=1677571199" alt="">
              <div class="text">
                <div class="u17Light">Vice World Champion</div>
                <div class="u24Medium">Philip Heintz</div>
              </div>
          </div>
      </div>
      <div class="swiper-button-prev"></div><!--左箭头。如果放置在swiper外面，需要自定义样式。-->
     <div class="swiper-button-next"></div><!--右箭头。如果放置在swiper外面，需要自定义样式。-->
     <div class="swiper-scrollbar"></div>
  </div>



<script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/8-swiper-bundle.min.js?v=1663912984"> </script>
<script src="https://cdn.shopify.com/s/files/1/0583/5810/4213/files/1.14.2-TweenMax.js?v=1663912518"></script>
<script>
const isMobilee = document.body.clientWidth < 768
new Swiper('#section7', {    
        spaceBetween: 15,
        slidesPerView: isMobilee ? 1.5 : 3.5,
  			freeMode: isMobilee ? true : false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
       },
       scrollbar: {
            el: '.swiper-scrollbar',
      },
  }) 
</script></div></div></div></div></div></div></div></div></div><script>
    !function(){window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.29.3","shopDomain":"urtopia-de.myshopify.com","elementData":{},"pageTitle":"1 - new_homepage - 2023-03-04 18:12:42","pageType":"home","pageId":"102c91e3-39b4-4b99-9d9f-1c58591b201a","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/3.29.3/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=102c91e3-39b4-4b99-9d9f-1c58591b201a)."
    }
  ]
}
{% endschema %}